.icon {
  display: inline-block;
  zoom: 1;
  background-repeat: no-repeat;
}

.icon_fanda {
  background-position: -225px -246px;
  width: 15px;
  height: 16px;
}

.icon_jj {
  background-position: -243px -163px;
  width: 6px;
  height: 11px;
}

.icon_sanjiao {
  background-position: -92px -326px;
  width: 3px;
  height: 6px;
}

.icon_data {
  background-position: -70px -326px;
  width: 15px;
  height: 15px;
}

.icon_time {
  background-position: -247px -246px;
  width: 15px;
  height: 15px;
}

.icon_person {
  background-position: -196px -253px;
  width: 18px;
  height: 20px;
}

.icon_choice {
  background-position: -318px -110px;
  width: 22px;
  height: 16px;
}

.icon_person2 {
  background-position: 0 -329px;
  width: 20px;
  height: 18px;
}

.icon_greenjj {
  background-position: -31px -178px;
  width: 6px;
  height: 11px;
}

.icon_rmb {
  background-position: -290px -128px;
  width: 20px;
  height: 20px;
}

.icon_select {
  background-position: -105px -321px;
  width: 16px;
  height: 16px;
}

.icon_noselect {
  background-position: -339px 0;
  width: 17px;
  height: 16px;
}

.icon_finish {
  background-position: 0 -122px;
  width: 50px;
  height: 50px;
}

.icon_collect_bigD {
  background-position: -309px 0;
  width: 24px;
  height: 22px;
}

.icon_collect_bigonD {
  background-position: -105px -294px;
  width: 24px;
  height: 22px;
}

.icon_time_bigD {
  background-position: -347px -22px;
  width: 14px;
  height: 14px;
}

.icon_data_bigD {
  background-position: -134px -318px;
  width: 15px;
  height: 15px;
}

.icon_next_bigD {
  background-position: -43px -178px;
  width: 6px;
  height: 11px;
}

.icon_no_payD {
  background-position: -122px 0;
  width: 116px;
  height: 116px;
}

.icon_jiaofei {
  background-position: -56px -122px;
  width: 32px;
  height: 32px;
}

.icon_yuyue {
  background-position: -56px -160px;
  width: 30px;
  height: 30px;
}

.icon_clock {
  background-position: -161px -287px;
  width: 18px;
  height: 18px;
}

.icon_tishi {
  background-position: -159px -311px;
  width: 10px;
  height: 10px;
}

.icon_fabu {
  background-position: -94px -122px;
  width: 32px;
  height: 32px;
}

.icon_nolist {
  background-position: 0 0;
  width: 116px;
  height: 116px;
}

.icon_register_record {
  background-position: -62px -265px;
  width: 26px;
  height: 26px;
}

.icon_pay_record {
  background-position: -190px -190px;
  width: 26px;
  height: 26px;
}

.icon_appointment_record {
  background-position: -157px -224px;
  width: 26px;
  height: 26px;
}

.icon_examine_report {
  background-position: -277px 0;
  width: 26px;
  height: 26px;
}

.icon_hospital_record {
  background-position: -276px -65px;
  width: 26px;
  height: 26px;
}

.icon_collection_record {
  background-position: -253px -99px;
  width: 26px;
  height: 26px;
}

.icon_logo {
  background-position: -257px -163px;
  width: 80px;
  height: 24px;
}

.icon_card_cd {
  background-position: -261px -218px;
  width: 18px;
  height: 16px;
}

.icon_card_phone {
  background-position: -307px -32px;
  width: 12px;
  height: 22px;
}

.icon_card_info {
  background-position: -344px -53px;
  width: 18px;
  height: 14px;
}

.icon_card_person {
  background-position: -318px -86px;
  width: 16px;
  height: 18px;
}

.icon_weibinke {
  background-position: -157px -191px;
  width: 27px;
  height: 27px;
}

.icon_zhongliuke {
  background-position: -244px 0;
  width: 27px;
  height: 27px;
}

.icon_shenbinke {
  background-position: -181px -157px;
  width: 25px;
  height: 27px;
}

.icon_feibinke {
  background-position: -244px -66px;
  width: 26px;
  height: 27px;
}

.icon_neifenmike {
  background-position: 0 -213px;
  width: 19px;
  height: 28px;
}

.icon_naobinke {
  background-position: -273px -33px;
  width: 28px;
  height: 26px;
}

.icon_xinbinke {
  background-position: -212px -156px;
  width: 25px;
  height: 27px;
}

.icon_shenzhibinke {
  background-position: 0 -265px;
  width: 25px;
  height: 27px;
}

.icon_tezhenshi {
  background-position: -126px -262px;
  width: 29px;
  height: 25px;
}

.icon_fuke {
  background-position: -29px -265px;
  width: 27px;
  height: 27px;
}

.icon_canke {
  background-position: -123px -229px;
  width: 23px;
  height: 27px;
}

.icon_erke {
  background-position: -253px -131px;
  width: 31px;
  height: 26px;
}

.icon_erbaoke {
  background-position: -126px -160px;
  width: 20px;
  height: 29px;
}

.icon_mazuike {
  background-position: -94px -262px;
  width: 26px;
  height: 26px;
}

.icon_naowaike {
  background-position: -244px -33px;
  width: 23px;
  height: 27px;
}

.icon_kouqiangke {
  background-position: -25px -231px;
  width: 27px;
  height: 28px;
}

.icon_erbihouke {
  background-position: -163px -122px;
  width: 26px;
  height: 29px;
}

.icon_miniaoke {
  background-position: -220px -122px;
  width: 27px;
  height: 27px;
}

.icon_gangchangke {
  background-position: -57px -196px;
  width: 27px;
  height: 29px;
}

.icon_xiongwaike {
  background-position: -161px -256px;
  width: 29px;
  height: 25px;
}

.icon_yanke {
  background-position: -26px -329px;
  width: 30px;
  height: 17px;
}

.icon_puwaike {
  background-position: -58px -231px;
  width: 29px;
  height: 28px;
}

.icon_gushangke {
  background-position: -31px -196px;
  width: 20px;
  height: 29px;
}

.icon_pifuke {
  background-position: -35px -298px;
  width: 29px;
  height: 25px;
}

.icon_tijianke {
  background-position: 0 -298px;
  width: 29px;
  height: 25px;
}

.icon_ziranyixue {
  background-position: -308px -60px;
  width: 30px;
  height: 20px;
}

.icon_sanyangke {
  background-position: -225px -220px;
  width: 30px;
  height: 20px;
}

.icon_ziweibinke {
  background-position: -195px -122px;
  width: 19px;
  height: 28px;
}

.icon_zhenjiuke {
  background-position: -132px -122px;
  width: 25px;
  height: 29px;
}

.icon_yingyangke {
  background-position: -92px -195px;
  width: 25px;
  height: 28px;
}

.icon_tuinake {
  background-position: -190px -222px;
  width: 29px;
  height: 25px;
}

.icon_reliaoke {
  background-position: -222px -189px;
  width: 29px;
  height: 25px;
}

.icon_kanfuke {
  background-position: -152px -157px;
  width: 23px;
  height: 28px;
}

.icon_jizhenke {
  background-position: -285px -97px;
  width: 27px;
  height: 25px;
}

.icon_ICU {
  background-position: -123px -195px;
  width: 28px;
  height: 28px;
}

.icon_yingxiangke {
  background-position: -93px -229px;
  width: 24px;
  height: 27px;
}

.icon_chaoshenke {
  background-position: -70px -297px;
  width: 29px;
  height: 23px;
}

.icon_jianchake {
  background-position: -257px -193px;
  width: 29px;
  height: 19px;
}

.icon_jianyanke {
  background-position: 0 -178px;
  width: 25px;
  height: 29px;
}

.icon_xibao {
  background-position: -92px -160px;
  width: 28px;
  height: 29px;
}

.icon_cancle {
  background-position: -134px -293px;
  width: 19px;
  height: 19px;
}

.icon_yishen {
  background-position: -325px -28px;
  width: 16px;
  height: 19px;
}

.icon_amD {
  background-position: -316px -132px;
  width: 40px;
  height: 15px;
}

.icon_pmD {
  background-position: -196px -279px;
  width: 40px;
  height: 15px;
}

.ico_tel {
  background-position: 0 -247px;
  width: 17px;
  height: 12px;
}

/*# sourceMappingURL=icon.css.map */


/* /static/images/icon.png?20160317170849 */
.icon_fanda,
.icon_jj,
.icon_sanjiao,
.icon_data,
.icon_time,
.icon_person,
.icon_choice,
.icon_person2,
.icon_greenjj,
.icon_rmb,
.icon_select,
.icon_noselect,
.icon_finish,
.icon_collect_bigD,
.icon_collect_bigonD,
.icon_time_bigD,
.icon_data_bigD,
.icon_next_bigD,
.icon_no_payD,
.icon_jiaofei,
.icon_yuyue,
.icon_clock,
.icon_tishi,
.icon_fabu,
.icon_nolist,
.icon_register_record,
.icon_pay_record,
.icon_appointment_record,
.icon_examine_report,
.icon_hospital_record,
.icon_collection_record,
.icon_logo,
.icon_card_cd,
.icon_card_phone,
.icon_card_info,
.icon_card_person,
.icon_weibinke,
.icon_zhongliuke,
.icon_shenbinke,
.icon_feibinke,
.icon_neifenmike,
.icon_naobinke,
.icon_xinbinke,
.icon_shenzhibinke,
.icon_tezhenshi,
.icon_fuke,
.icon_canke,
.icon_erke,
.icon_erbaoke,
.icon_mazuike,
.icon_naowaike,
.icon_kouqiangke,
.icon_erbihouke,
.icon_miniaoke,
.icon_gangchangke,
.icon_xiongwaike,
.icon_yanke,
.icon_puwaike,
.icon_gushangke,
.icon_pifuke,
.icon_tijianke,
.icon_ziranyixue,
.icon_sanyangke,
.icon_ziweibinke,
.icon_zhenjiuke,
.icon_yingyangke,
.icon_tuinake,
.icon_reliaoke,
.icon_kanfuke,
.icon_jizhenke,
.icon_ICU,
.icon_yingxiangke,
.icon_chaoshenke,
.icon_jianchake,
.icon_jianyanke,
.icon_xibao,
.icon_cancle,
.icon_yishen,
.icon_amD,
.icon_pmD,
.ico_tel{
background-image: url(/static/images/icon.png?20160317170849);
}


/* /static/images/icon@2x.png?20160317170849 */
@media only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi), only screen and (min-resolution: 2dppx) {
.icon_fanda,
.icon_jj,
.icon_sanjiao,
.icon_data,
.icon_time,
.icon_person,
.icon_choice,
.icon_person2,
.icon_greenjj,
.icon_rmb,
.icon_select,
.icon_noselect,
.icon_finish,
.icon_collect_bigD,
.icon_collect_bigonD,
.icon_time_bigD,
.icon_data_bigD,
.icon_next_bigD,
.icon_no_payD,
.icon_jiaofei,
.icon_yuyue,
.icon_clock,
.icon_tishi,
.icon_fabu,
.icon_nolist,
.icon_register_record,
.icon_pay_record,
.icon_appointment_record,
.icon_examine_report,
.icon_hospital_record,
.icon_collection_record,
.icon_logo,
.icon_card_cd,
.icon_card_phone,
.icon_card_info,
.icon_card_person,
.icon_weibinke,
.icon_zhongliuke,
.icon_shenbinke,
.icon_feibinke,
.icon_neifenmike,
.icon_naobinke,
.icon_xinbinke,
.icon_shenzhibinke,
.icon_tezhenshi,
.icon_fuke,
.icon_canke,
.icon_erke,
.icon_erbaoke,
.icon_mazuike,
.icon_naowaike,
.icon_kouqiangke,
.icon_erbihouke,
.icon_miniaoke,
.icon_gangchangke,
.icon_xiongwaike,
.icon_yanke,
.icon_puwaike,
.icon_gushangke,
.icon_pifuke,
.icon_tijianke,
.icon_ziranyixue,
.icon_sanyangke,
.icon_ziweibinke,
.icon_zhenjiuke,
.icon_yingyangke,
.icon_tuinake,
.icon_reliaoke,
.icon_kanfuke,
.icon_jizhenke,
.icon_ICU,
.icon_yingxiangke,
.icon_chaoshenke,
.icon_jianchake,
.icon_jianyanke,
.icon_xibao,
.icon_cancle,
.icon_yishen,
.icon_amD,
.icon_pmD,
.ico_tel{
background-image: url(/static/images/icon@2x.png?20160317170849);
background-size: 347px auto;
}
.icon_fanda{
background-position: -259px -165px;
}
.icon_jj{
background-position: -146.5px -284.5px;
}
.icon_sanjiao{
background-position: -83.5px -248px;
}
.icon_data{
background-position: -316px -21.5px;
}
.icon_time{
background-position: -261.5px -184px;
}
.icon_person{
background-position: -237px -176px;
}
.icon_choice{
background-position: -21px -305.5px;
}
.icon_person2{
background-position: -297px -51.5px;
}
.icon_greenjj{
background-position: 0 -263.5px;
}
.icon_rmb{
background-position: -293px -28.5px;
}
.icon_select{
background-position: -63px -302px;
}
.icon_noselect{
background-position: -89px -298px;
}
.icon_finish{
background-position: 0 -119px;
}
.icon_collect_bigD{
background-position: -63px -278px;
}
.icon_collect_bigonD{
background-position: -89px -274px;
}
.icon_time_bigD{
background-position: -46px -305.5px;
}
.icon_data_bigD{
background-position: -243.5px -199px;
}
.icon_next_bigD{
background-position: -10px -263.5px;
}
.icon_no_payD{
background-position: 0 0;
}
.icon_jiaofei{
background-position: -53px -119px;
}
.icon_yuyue{
background-position: -53px -154px;
}
.icon_clock{
background-position: 0 -305.5px;
}
.icon_tishi{
background-position: -297px -72.5px;
}
.icon_fabu{
background-position: -88px -119px;
}
.icon_nolist{
background-position: -119px 0;
}
.icon_register_record{
background-position: -123.5px -216px;
}
.icon_pay_record{
background-position: -152.5px -210.5px;
}
.icon_appointment_record{
background-position: -230px -119px;
}
.icon_examine_report{
background-position: -54.5px -249px;
}
.icon_hospital_record{
background-position: -238px -88.5px;
}
.icon_collection_record{
background-position: -176.5px -180px;
}
.icon_logo{
background-position: -267px -85.5px;
}
.icon_card_cd{
background-position: -211px -229px;
}
.icon_card_phone{
background-position: -259px -117.5px;
}
.icon_card_info{
background-position: -185px -257.5px;
}
.icon_card_person{
background-position: -184px -236.5px;
}
.icon_weibinke{
background-position: -147px -181px;
}
.icon_zhongliuke{
background-position: -198px -149.5px;
}
.icon_shenbinke{
background-position: -238px -59px;
}
.icon_feibinke{
background-position: -25.5px -249px;
}
.icon_neifenmike{
background-position: -183px -119px;
}
.icon_naobinke{
background-position: -90.5px -245.5px;
}
.icon_xinbinke{
background-position: -238px 0;
}
.icon_shenzhibinke{
background-position: -204.5px -119px;
}
.icon_tezhenshi{
background-position: -205.5px -179px;
}
.icon_fuke{
background-position: -94px -216px;
}
.icon_canke{
background-position: 0 -234px;
}
.icon_erke{
background-position: -265.5px 0;
}
.icon_erbaoke{
background-position: -50px -187px;
}
.icon_mazuike{
background-position: -264.5px -29.5px;
}
.icon_naowaike{
background-position: -172.5px -150.5px;
}
.icon_kouqiangke{
background-position: 0 -203.5px;
}
.icon_erbihouke{
background-position: -113.5px -154px;
}
.icon_miniaoke{
background-position: -61px -218.5px;
}
.icon_gangchangke{
background-position: -123px -119px;
}
.icon_xiongwaike{
background-position: -31.5px -278px;
}
.icon_yanke{
background-position: -152.5px -265px;
}
.icon_puwaike{
background-position: -29.5px -218.5px;
}
.icon_gushangke{
background-position: -27.5px -172px;
}
.icon_pifuke{
background-position: -265.5px -58px;
}
.icon_tijianke{
background-position: -121px -245.5px;
}
.icon_ziranyixue{
background-position: -211px -206.5px;
}
.icon_sanyangke{
background-position: -259px -142.5px;
}
.icon_ziweibinke{
background-position: -72.5px -187px;
}
.icon_zhenjiuke{
background-position: 0 -172px;
}
.icon_yingyangke{
background-position: -94px -185.5px;
}
.icon_tuinake{
background-position: 0 -278px;
}
.icon_reliaoke{
background-position: -227.5px -148.5px;
}
.icon_kanfuke{
background-position: -121.5px -185.5px;
}
.icon_jizhenke{
background-position: -181.5px -209px;
}
.icon_ICU{
background-position: -142px -150.5px;
}
.icon_yingxiangke{
background-position: -238px -29.5px;
}
.icon_chaoshenke{
background-position: -152.5px -239.5px;
}
.icon_jianchake{
background-position: -115px -274px;
}
.icon_jianyanke{
background-position: -86px -154px;
}
.icon_xibao{
background-position: -152.5px -119px;
}
.icon_cancle{
background-position: -299px 0;
}
.icon_yishen{
background-position: -274px -112.5px;
}
.icon_amD{
background-position: -108px -298px;
}
.icon_pmD{
background-position: -293px -112.5px;
}
.ico_tel{
background-position: -29.5px -203.5px;
} 
}

.css_stamp{ content:"20160317170849";}