.icon {
  display: inline-block;
  zoom: 1;
  background-repeat: no-repeat;
}

.icon_fanda {
  background-image: url("../slice/icon-fanda.png");
  width: 15px;
  height: 16px;
}

.icon_feibinke {
  background-image: url("../slice/feibinke.png");
  width: 26px;
  height: 27px;
}

.icon_jj {
  background-image: url("../slice/jj.png");
  width: 6px;
  height: 11px;
}

.icon_sanjiao {
  background-image: url("../slice/sanjiao.png");
  width: 3px;
  height: 6px;
}

.icon_data {
  background-image: url("../slice/data.png");
  width: 15px;
  height: 15px;
}

.icon_time {
  background-image: url("../slice/time.png");
  width: 15px;
  height: 15px;
}

.icon_person {
  background-image: url("../slice/icon-person.png");
  width: 18px;
  height: 20px;
}

.icon_choice {
  background-image: url("../slice/icon-choice.png");
  width: 22px;
  height: 16px;
}

.icon_person2 {
  background-image: url("../slice/icon-person2.png");
  width: 20px;
  height: 18px;
}

.icon_greenjj {
  background-image: url("../slice/icon-greenjj.png");
  width: 6px;
  height: 11px;
}

.icon_rmb {
  background-image: url("../slice/icon-rmb.png");
  width: 20px;
  height: 20px;
}

.icon_select {
  background-image: url("../slice/icon-select.png");
  width: 16px;
  height: 16px;
}

.icon_noselect {
  background-image: url("../slice/icon-noselect.png");
  width: 17px;
  height: 16px;
}

.icon_finish {
  background-image: url("../slice/icon-finish.png");
  width: 50px;
  height: 50px;
}

.icon_collect_bigD {
  background-image: url("../slice/icon-collect_bigD.png");
  width: 24px;
  height: 22px;
}

.icon_collect_bigonD {
  background-image: url("../slice/icon_collect_bigonD.png");
  width: 24px;
  height: 22px;
}

.icon_time_bigD {
  background-image: url("../slice/icon_time_bigD.png");
  width: 14px;
  height: 14px;
}

.icon_data_bigD {
  background-image: url("../slice/icon_data_bigD.png");
  width: 15px;
  height: 15px;
}

.icon_next_bigD {
  background-image: url("../slice/icon_next_bigD.png");
  width: 6px;
  height: 11px;
}

.icon_no_payD {
  background-image: url("../slice/icon_no_payD.png");
  width: 116px;
  height: 116px;
}

.icon_jiaofei {
  background-image: url("../slice/icon_jiaofei.png");
  width: 32px;
  height: 32px;
}

.icon_yuyue {
  background-image: url("../slice/icon-yuyue.png");
  width: 30px;
  height: 30px;
}

.icon_clock {
  background-image: url("../slice/icon-clock.png");
  width: 18px;
  height: 18px;
}

.icon_tishi {
  background-image: url("../slice/icon_tishi.png");
  width: 10px;
  height: 10px;
}

.icon_fabu {
  background-image: url("../slice/icon_fabu.png");
  width: 32px;
  height: 32px;
}

.icon_nolist {
  background-image: url("../slice/icon_nolist.png");
  width: 116px;
  height: 116px;
}

.icon_register_record {
  background-image: url("../slice/icon_register_record.png");
  width: 26px;
  height: 26px;
}

.icon_pay_record {
  background-image: url("../slice/icon_pay_record.png");
  width: 26px;
  height: 26px;
}

.icon_appointment_record {
  background-image: url("../slice/icon_appointment_record.png");
  width: 26px;
  height: 26px;
}

.icon_examine_report {
  background-image: url("../slice/icon_examine_report.png");
  width: 26px;
  height: 26px;
}

.icon_hospital_record {
  background-image: url("../slice/icon_hospital_record.png");
  width: 26px;
  height: 26px;
}

.icon_collection_record {
  background-image: url("../slice/icon_collection_record.png");
  width: 26px;
  height: 26px;
}

.icon_logo {
  background-image: url("../slice/icon_logo.png");
  width: 80px;
  height: 24px;
}

.icon_card_cd {
  background-image: url("../slice/icon-card-cd.png");
  width: 18px;
  height: 16px;
}

.icon_card_phone {
  background-image: url("../slice/icon-card-phone.png");
  width: 12px;
  height: 22px;
}

.icon_card_info {
  background-image: url("../slice/icon-card-info.png");
  width: 18px;
  height: 14px;
}

.icon_card_person {
  background-image: url("../slice/icon-card-person.png");
  width: 16px;
  height: 18px;
}

/*# sourceMappingURL=icon.css.map */
