@import url(reset.css);
.hosFooter .footer_nav, .importantDept {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.index_nav {
  padding: 0.08rem;
}

#inNav {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 0.84rem;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  z-index: 15;
}
#inNav .inNav_wamp {
  background: #fff;
  height: 0.7rem;
  position: relative;
  -webkit-transition: height 0.35s ease-out;
  transition: height 0.35s ease-out;
  overflow: hidden;
}
#inNav span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.7rem;
  height: 0.7rem;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  -webkit-transition-delay: 150ms,150ms;
  transition-delay: 150ms,150ms;
  z-index: 15;
}
#inNav span .nav_iconb_1, #inNav span .nav_iconb_2, #inNav span .nav_iconb_3 {
  display: block;
  width: 0.36rem;
  height: 1px;
  background: #717171;
  position: absolute;
  left: 50%;
  margin-left: -0.18rem;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#inNav span .nav_iconb_1 {
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, transform 0.4s;
  top: 0.25rem;
}
#inNav span .nav_iconb_2 {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  top: 0.35rem;
}
#inNav span .nav_iconb_3 {
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, transform 0.4s;
  top: 0.45rem;
}
#inNav .index_icon {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 50%;
  margin-left: -0.35rem;
  background: url(/static/images/mobile/navicon@2x.png);
  background-repeat: no-repeat;
  background-size: 0.46rem;
  background-position: center;
}
#inNav .inNav_list {
  padding: 1.1rem 0.8rem 0;
  z-index: 10;
  position: relative;
}
#inNav .inNav_list li {
  position: relative;
  font-size: 0.25rem;
  height: 0.75rem;
  line-height: 0.75rem;
  border-bottom: 1px solid #DBDCDC;
  opacity: 0;
  -webkit-transform: scale(1.1) translate(-34px, -24px);
  transform: scale(1.1) translate(-34px, -24px);
  -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}
#inNav .inNav_list li a {
  display: block;
}
#inNav .inNav_list li .icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
}
#inNav .inNav_list li b::after {
  content: "";
  display: block;
  width: 1px;
  height: 8px;
  background: #9E9F9F;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -4px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}
#inNav .inNav_list li b::before {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background: #9E9F9F;
  position: absolute;
  top: 50%;
  right: 2px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}
#inNav .inNav_list li:nth-child(1) {
  -webkit-transition-delay: 250ms, 250ms;
  transition-delay: 250ms, 250ms;
}
#inNav .inNav_list li:nth-child(2) {
  -webkit-transition-delay: 250ms, 250ms;
  transition-delay: 250ms, 250ms;
}
#inNav .inNav_list li:nth-child(3) {
  -webkit-transition-delay: 300ms, 300ms;
  transition-delay: 300ms, 300ms;
}
#inNav .inNav_list li:nth-child(4) {
  -webkit-transition-delay: 350ms, 350ms;
  transition-delay: 350ms, 350ms;
}
#inNav .inNav_list li:nth-child(5) {
  -webkit-transition-delay: 400ms, 400ms;
  transition-delay: 400ms, 400ms;
}
#inNav .inNav_list li:nth-child(6) {
  -webkit-transition-delay: 450ms, 450ms;
  transition-delay: 450ms, 450ms;
}
#inNav .inNav_list li:nth-child(7) {
  -webkit-transition-delay: 500ms, 500ms;
  transition-delay: 500ms, 500ms;
}
#inNav #searchNav {
  width: 0.70rem;
  height: 0.70rem;
  position: absolute;
  z-index: 15;
  right: 0.8rem;
  top: 0;
  background: url(/static/images/mobile/navsearch@2x.png);
  background-size: 0.32rem 0.32rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  -webkit-transition-delay: 250ms,250ms;
  transition-delay: 250ms,250ms;
}
#inNav #functionNav {
  width: 0.70rem;
  height: 0.70rem;
  position: absolute;
  z-index: 15;
  right: 0.1rem;
  top: 0;
  background: url(/static/images/mobile/navfunction@2x.png);
  background-size: 0.35rem 0.34rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  -webkit-transition-delay: 150ms,150ms;
  transition-delay: 150ms,150ms;
}

#hosLink {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  padding-top: 0;
}
#hosLink a {
  display: block;
  font-size: 0.24rem;
  color: #9E9F9F;
  height: 0.75rem;
  text-indent: 0.20rem;
  line-height: 0.75rem;
}

#hosLink.active {
  height: 3.75rem;
  padding-top: 0.25rem;
}

#hosLink_Han.active b::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hosLink_Han.active b::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#inNav.active {
  height: 100%;
}
#inNav.active .inNav_wamp {
  height: 100%;
}
#inNav.active .inNav_wamp .nav_iconb_1 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0.35rem;
}
#inNav.active .inNav_wamp .nav_iconb_2 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  opacity: 0;
}
#inNav.active .inNav_wamp .nav_iconb_3 {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 0.35rem;
}
#inNav.active .inNav_list li {
  opacity: 1;
  -webkit-transform: scale(1) translate(0);
  transform: scale(1) translate(0);
}
#inNav.active #searchNav {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
#inNav.active #functionNav {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

#functionList {
  opacity: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .45rem .8rem .75rem;
  width: 100%;
  background: #595757;
  position: absolute;
  top: 0.7rem;
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
}
#functionList li {
  position: relative;
  text-indent: 30px;
  height: 0.75rem;
  line-height: 0.75rem;
  font-size: 0.24rem;
  color: #fff;
  opacity: 0;
  border-bottom: 1px solid #DBDCDC;
  -webkit-transform: scale(1.1) translate(34px, -24px);
  transform: scale(1.1) translate(34px, -24px);
  -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}
#functionList li .icon {
  position: absolute;
  left: 0;
  top: 50%;
}
#functionList li .icon_nav1 {
  margin-top: -7px;
}
#functionList li .icon_nav2 {
  margin-top: -9px;
}
#functionList li .icon_nav3 {
  margin-top: -9px;
}
#functionList li .icon_nav4 {
  margin-top: -8px;
}
#functionList li .icon_nav5 {
  margin-top: -7px;
}
#functionList li:nth-child(1) {
  -webkit-transition-delay: 250ms, 250ms;
  transition-delay: 250ms, 250ms;
}
#functionList li:nth-child(2) {
  -webkit-transition-delay: 250ms, 250ms;
  transition-delay: 250ms, 250ms;
}
#functionList li:nth-child(3) {
  -webkit-transition-delay: 300ms, 300ms;
  transition-delay: 300ms, 300ms;
}
#functionList li:nth-child(4) {
  -webkit-transition-delay: 350ms, 350ms;
  transition-delay: 350ms, 350ms;
}
#functionList li:nth-child(5) {
  -webkit-transition-delay: 400ms, 400ms;
  transition-delay: 400ms, 400ms;
}

#functionList:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.14rem solid transparent;
  border-right: 0.14rem solid transparent;
  border-bottom: 0.14rem solid #595757;
  position: absolute;
  top: -0.12rem;
  right: 0.3rem;
}

#inNav.func {
  height: 5.7rem;
}
#inNav.func .inNav_wamp {
  height: 5.7rem;
}
#inNav.func .inNav_wamp #functionList {
  opacity: 1;
}
#inNav.func .inNav_wamp #functionList li {
  opacity: 1;
  -webkit-transform: scale(1) translate(0);
  transform: scale(1) translate(0);
}
#inNav.func .inNav_wamp span {
  -webkit-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
}
#inNav.func .inNav_wamp #searchNav {
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}

#searchInput {
  opacity: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  background: #DBDCDC;
  padding: 0.12rem 0.12rem 0.24rem;
  position: absolute;
  top: 0.7rem;
  font-size: 0.24rem;
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
}
#searchInput input {
  display: block;
  width: 5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  border: none;
  text-indent: 5px;
  border-radius: 0;
  outline: none;
}
#searchInput i {
  display: block;
  position: absolute;
  width: 0.76rem;
  height: 0.76rem;
  right: 0;
  top: 0;
  line-height: 0.85rem;
  text-align: center;
}

#searchInput::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.14rem solid transparent;
  border-right: 0.14rem solid transparent;
  border-bottom: 0.14rem solid #DBDCDC;
  position: absolute;
  top: -0.12rem;
  right: 1rem;
}

#inNav.search {
  height: 1.58rem;
}
#inNav.search .inNav_wamp {
  height: 1.58rem;
}
#inNav.search .inNav_wamp #searchInput {
  opacity: 1;
}
#inNav.search .inNav_wamp span {
  -webkit-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
}
#inNav.search .inNav_wamp #functionNav {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.hosFooter {
  background: #fff;
  padding-top: 0.24rem;
}
.hosFooter .footer_nav {
  padding: 0.12rem 0.24rem;
}
.hosFooter .footer_nav li {
  text-align: center;
  font-size: 0.24rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #595757;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hosFooter .footer_nav li:last-child {
  border-right: 0;
}
.hosFooter .footer_address {
  border-top: 1px solid #DBDCDC;
  padding: 0.24rem;
}
.hosFooter .footer_address span {
  line-height: 0.45rem;
  font-size: 0.24rem;
  display: block;
  text-indent: 20px;
  position: relative;
}
.hosFooter .footer_address span i {
  position: absolute;
  left: 0;
  top: 50%;
}
.hosFooter .footer_address span .icon_foot01 {
  margin-top: -7px;
  margin-left: 1px;
}
.hosFooter .footer_address span .icon_foot02 {
  margin-top: -5px;
}
.hosFooter .footer_address span .icon_foot03 {
  margin-top: -5px;
  margin-left: 1px;
}
.hosFooter .footer_address span .icon_foot04 {
  margin-top: -5px;
}
.hosFooter .footer_address .footerlogo {
  display: block;
  margin: 25px auto 0;
}

#viewport {
  position: relative;
  width: 6.4rem;
  height: 3.6rem;
  margin: 0.85rem auto 0;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#viewport2 {
  position: relative;
  width: 6.4rem;
  height: 3.6rem;
  padding-bottom: 0.9rem;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
}

#wrapper, #wrapper2 {
  width: 6.4rem;
  height: 3.6rem;
  margin: 0 auto;
}

#scroller, #scroller2 {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 32rem;
  height: 3.6rem;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #444;
}

.slide {
  width: 6.4rem;
  height: 3.6rem;
  float: left;
  position: relative;
}
.slide h4 {
  text-align: center;
  font-size: 0.26rem;
  line-height: 0.9rem;
  background: #fff;
}
.slide i {
  display: block;
  width: 42px;
  height: 42px;
  background: url(/static/images/mobile/icon_video@2x.png);
  background-size: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
}

.painting {
  display: block;
  width: 6.4rem;
  height: 3.6rem;
}

#indicator, #indicator2 {
  position: relative;
  width: 65px;
  height: 10px;
  margin: -14px auto 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
  background-size: 15px;
  z-index: 9;
}

#dotty {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #777;
  border: 1px solid #00B1B5;
}

.topTitle {
  padding: 0.4rem 0.15rem 0.3rem;
}
.topTitle h3 {
  font-size: 0.27rem;
  text-align: center;
  margin-bottom: 0.12rem;
}
.topTitle h4 {
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.34rem;
}

.importantDept {
  padding: 20px 0.04rem 0;
}
.importantDept .iDept {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  padding: 0 0.04rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.importantDept .iDept .iDeptBgWamp {
  display: block;
  border-radius: 6px;
  background: #fff;
  height: 2.7rem;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.importantDept .iDept .iDeptBgWamp .iDeptBg {
  width: 100%;
  height: 2rem;
  border-radius: 6px 6px 0 0;
  background: url(/static/images/iconzl.jpg);
  background-size: cover;
  background-position: center;
}
.importantDept .iDept .iDeptBgWamp h3 {
  font-size: 0.25rem;
  text-align: center;
  line-height: 0.7rem;
}
.importantDept .iDept .iDeptBgWamp span {
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -18px;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #00B1B5;
  box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.25), 10px 0 20px 0 rgba(0, 0, 0, 0.25), 0 -3px 6px 0 rgba(0, 0, 0, 0.25), -10px 0 20px 0 rgba(0, 0, 0, 0.25);
}
.importantDept .iDept .iDeptBgWamp .icon {
  position: absolute;
  top: 50%;
  left: 50%;
}
.importantDept .iDept .iDeptBgWamp .icon_idept1 {
  margin-left: -9px;
  margin-top: -9px;
}
.importantDept .iDept .iDeptBgWamp .icon_idept2 {
  margin-left: -9px;
  margin-top: -6px;
}
.importantDept .iDept .iDeptBgWamp .icon_idept3 {
  margin-left: -9px;
  margin-top: -7px;
}

.importantDoctor {
  background: #fff;
  padding-bottom: 0.9rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.importantDoctor .iDoctor {
  display: block;
  float: left;
  width: 50%;
  position: relative;
}
.importantDoctor .iDoctor img {
  width: 100%;
  display: block;
}
.importantDoctor .iDoctor .iDoctorInfo {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.14rem 0.24rem;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.24rem;
}
.importantDoctor .iDoctor .iDoctorInfo h3 {
  display: inline-block;
  color: #fff;
  font-size: 0.24rem;
  overflow: hidden;
}
.importantDoctor .iDoctor .iDoctorInfo h4 {
  display: inline-block;
  color: #b5b5b6;
  font-size: 0.24rem;
  width: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 0.25rem;
  white-space: nowrap;
}
.importantDoctor .iDoctor .iDoctorInfo p {
  padding-top: .12rem;
  color: #fff;
  font-size: .24rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: .25rem;
  white-space: nowrap;
}

.moreDoctor {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  margin-left: -0.30rem;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  background: #00B1B5;
  box-shadow: 0 17px 20px 0 rgba(26, 168, 171, 0.25), 10px 0 20px 0 rgba(26, 168, 171, 0.25), 0 -3px 6px 0 rgba(26, 168, 171, 0.25), -10px 0 20px 0 rgba(26, 168, 171, 0.25);
}
.moreDoctor em {
  display: block;
  font-size: 0.26rem;
  text-align: center;
  width: 2rem;
  position: absolute;
  bottom: -0.55rem;
  left: 50%;
  margin-left: -1rem;
  line-height: 0.6rem;
}

.moreDoctor::after {
  content: "";
  display: block;
  width: 1px;
  height: 0.28rem;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.14rem;
  z-index: 2;
}

.moreDoctor::before {
  content: "";
  display: block;
  width: 0.26rem;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.13rem;
  z-index: 2;
}

.indexNews {
  padding-left: 0.24rem;
  background: #fff;
  padding-bottom: 0.9rem;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.indexNews .iNList {
  overflow: hidden;
}
.indexNews .iNList .iNItem {
  padding: 0.12rem 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 1.6rem;
  display: -webkit-box;
}
.indexNews .iNList .iNItem .iNImages {
  height: 100%;
  width: 2rem;
  margin-right: 0.24rem;
  display: inline-block;
}
.indexNews .iNList .iNItem .iNMsg {
  padding: 0 0.36rem 0.12rem 0;
  -webkit-box-flex: 1;
  height: 100%;
  font-size: 0.24rem;
  line-height: 0.3rem;
  border-bottom: #DBDCDC solid 1px;
  position: relative;
}
.indexNews .iNList .iNItem .iNMsg span {
  display: table;
  height: 100%;
}
.indexNews .iNList .iNItem .iNMsg span p {
  display: table-cell;
  vertical-align: middle;
}
.indexNews .iNList .iNItem .iNMsg i {
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -6px;
}

.spServer {
  position: relative;
}
.spServer img {
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.spServer span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.14rem 0.24rem;
  font-size: 0.24rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 0.3rem;
}

#indexVideo {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
#indexVideo video {
  position: relative;
  z-index: 5;
  width: 100%;
  display: block;
  margin: 0 auto;
}
#indexVideo span {
  display: inline-block;
  padding: 0.25rem;
  line-height: 0.4rem;
  font-size: 0.26rem;
  color: #fff;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
}

#keshi_searchG {
  padding: 0.2rem 0.25rem;
  background-color: #F7F7F7;
  position: relative;
  z-index: 10;
}
#keshi_searchG .keshi_searchBoxG {
  position: relative;
  height: 0.5rem;
  font-size: 0.2rem;
  color: #9E9F9F;
  border: 1px solid #9E9F9F;
  border-radius: 4px;
  text-indent: 0.1rem;
}
#keshi_searchG .keshi_searchBoxG #searchG {
  text-indent: 0.05rem;
  font-size: 0.2rem;
  line-height: 0.40rem;
  height: 100%;
  width: 4.5rem;
  border: 0;
  background: #F7F7F7;
  padding: 0;
}
#keshi_searchG .keshi_searchBoxG .fandaG {
  position: absolute;
  top: 50%;
  right: 0.2rem;
  margin-top: -7px;
}
#keshi_searchG .keshi_searchBoxG span {
  display: none;
  float: right;
  line-height: 0.50rem;
  margin-right: 0.1rem;
}
#keshi_searchG .active i {
  display: none;
}
#keshi_searchG .active span {
  display: inline-block;
}

#keshi_typeG {
  background: #fff;
  padding: 0 0.25rem;
  font-size: 0.26rem;
  width: 30%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0.9rem;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-right: 1px solid #DBDCDC;
  overflow: hidden;
}
#keshi_typeG ul li {
  display: table;
  height: 1.1rem;
  width: 100%;
  border-bottom: 1px solid #DBDCDC;
  text-align: center;
  position: relative;
}
#keshi_typeG ul li p {
  display: table-cell;
  vertical-align: middle;
  line-height: 0.30rem;
  color: #9E9F9F;
}
#keshi_typeG ul li .icon {
  position: absolute;
  top: 50%;
  left: -4px;
  margin-top: -3px;
  display: none;
}
#keshi_typeG ul .active > .icon {
  display: block;
}
#keshi_typeG ul .active > p {
  color: #595757;
}

#keshi_listG {
  background: #fff;
  font-size: 0.26rem;
  width: 70%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0.9rem;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
#keshi_listG .listG_ul .listG_li {
  height: 0.9rem;
  width: 4.65rem;
  overflow: hidden;
}
#keshi_listG .listG_ul .listG_li .listG_icon {
  float: left;
  width: 1rem;
  height: 0.9rem;
  position: relative;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_weibinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_zhongliuke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_shenbinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_feibinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_neifenmike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -9px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_naobinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_xinbinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -12px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_shenzhibinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -12px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_tezhenshi {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_fuke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_canke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -11px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_erke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -15px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_erbaoke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -10px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_mazuike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_naowaike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -11px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_kouqiangke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_erbihouke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_miniaoke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_gangchangke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_xiongwaike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_yanke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -15px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_puwaike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_gushangke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -10px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_pifuke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_tijianke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_ziranyixue {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -15px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_sanyangke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -15px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_ziweibinke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -9px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_zhenjiuke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -12px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_yingyangke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -12px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_tuinake {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_reliaoke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_kanfuke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -11px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_jizhenke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -13px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_ICU {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_yingxiangke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -12px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_chaoshenke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_jianchake {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_jianyanke {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -12px;
}
#keshi_listG .listG_ul .listG_li .listG_icon .icon_xibao {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}
#keshi_listG .listG_ul .listG_li .listG_font {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: right;
  width: 3.65rem;
  border-bottom: 1px solid #DBDCDC;
  position: relative;
}
#keshi_listG .listG_ul .listG_li .listG_font .fontJJ {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
#keshi_listG .listG_ul .listG_li .listG_font p {
  line-height: 0.85rem;
}

.hosFooter .footer_nav, .importantDept {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.m_contentD {
  font-size: 0.24rem;
  position: absolute;
  top: 0.74rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  color: #595757;
}

.m_content_listD {
  border-bottom: 1px solid #DBDCDC;
  overflow: hidden;
  padding-top: 0.15rem;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.m_content_listD .hd_borderD {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.03rem;
  bottom: 0;
}
.m_content_listD .hd_borderD b {
  height: 0.03rem;
  background: #00B1B5;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.15s;
  -moz-transition: left 0.15s;
  -webkit-transition: left 0.15s;
  -o-transition: left 0.15s;
}
.m_content_listD li {
  float: left;
  text-align: center;
  color: #595757;
  border-bottom: 0.03rem solid #fff;
  padding-bottom: 0.05rem;
}
.m_content_listD li p {
  padding-top: 0.15rem;
}
.m_content_listD li i {
  background-image: url("/static/images/mobile/icon_about.png");
  background-size: 3.87rem;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.m_content_listD li i.icon1 {
  display: block;
  height: 0.36rem;
}
.m_content_listD li i.icon_about {
  width: 0.35rem;
  background-position: 0 0;
}
.m_content_listD li i.icon_scientific {
  width: 0.33rem;
  background-position: -0.88rem 0;
}
.m_content_listD li i.icon_academic {
  width: 0.33rem;
  background-position: -1.77rem 0;
}
.m_content_listD li i.icon_clinics {
  width: 0.33rem;
  background-position: -2.62rem 0;
}
.m_content_listD li i.icon_jci {
  width: 0.34rem;
  background-position: -3.53rem 0;
}
.m_content_listD li i.icon_environ {
  width: 0.35rem;
  background-position: 0 -0.82rem;
}
.m_content_listD li i.icon_equipment {
  width: 0.34rem;
  background-position: -0.87rem -0.82rem;
}
.m_content_listD li i.icon_coverage {
  width: 0.4rem;
  background-position: 0 -2.44rem;
}
.m_content_listD li i.icon_visits {
  width: 0.37rem;
  background-position: -0.88rem -2.44rem;
}
.m_content_listD li i.icon_academic {
  width: 0.32rem;
  background-position: -1.77rem -2.44rem;
}
.m_content_listD li i.icon_service {
  width: 0.32rem;
  background-position: -2.62rem -2.44rem;
}
.m_content_listD li i.icon_route {
  width: 0.31rem;
  background-position: -3.52rem -2.44rem;
}
.m_content_listD li i.icon_ksabout {
  width: 0.36rem;
  background-position: -1.77rem -0.82rem;
}
.m_content_listD li i.icon_team {
  width: 0.42rem;
  background-position: -2.62rem -0.82rem;
}
.m_content_listD li i.icon_communication {
  width: 0.28rem;
  background-position: -3.53rem -0.82rem;
}
.m_content_listD li i.icon_hosnews {
  width: 0.34rem;
  background-position: 0 -1.63rem;
}
.m_content_listD li i.icon_lecture {
  width: 0.38rem;
  background-position: -0.88rem -1.63rem;
}
.m_content_listD li i.icon_media {
  width: 0.32rem;
  background-position: -1.77rem -1.63rem;
}
.m_content_listD li i.icon_knowledge {
  width: 0.35rem;
  background-position: -2.62rem -1.63rem;
}
.m_content_listD li i.icon_voice {
  width: 0.36rem;
  background-position: -3.53rem -1.63rem;
}
.m_content_listD li i.icon_tumcases {
  width: 0.38rem;
  background-position: 0 -3.26rem;
}
.m_content_listD li i.icon_othercase {
  width: 0.38rem;
  background-position: -0.88rem -3.26rem;
}
.m_content_listD li.on {
  color: #00B1B5;
}
.m_content_listD li.on i {
  background-image: url("/static/images/mobile/icon_about_on.png");
}

.box_aboutD {
  width: 6.4rem;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  top: 1.16rem;
}

.m_content_allD {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.m_content_aboutD {
  background: #fff;
  width: 6.4rem;
  float: left;
  overflow: hidden;
  height: 100%;
  bottom: 0;
}
.m_content_aboutD .content_aboxD {
  padding: 0px 0.24rem;
  line-height: 0.4rem;
  padding-bottom: 0.24rem;
}
.m_content_aboutD .content_aboxD img {
  max-width: 100%;
  margin-top: 0.24rem;
  margin-bottom: 0.24rem;
}

.content_environD {
  overflow: hidden;
}
.content_environD figure {
  width: 50%;
  float: left;
  position: relative;
  height: 2.4rem;
  overflow: hidden;
}
.content_environD figure a {
  display: block;
}
.content_environD figure a img {
  width: 100%;
}
.content_environD figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  overflow: hidden;
}

.content_honorD {
  top: 0.15rem;
  position: absolute;
  left: 0;
}

.m_content_serviceD {
  top: 0.15rem;
  position: absolute;
  left: 0;
}

.content_serviceD {
  overflow: hidden;
}
.content_serviceD li {
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  height: 3rem;
}
.content_serviceD li a {
  display: block;
}
.content_serviceD li a img {
  width: 100%;
}
.content_serviceD li p {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  overflow: hidden;
}

.m_showD {
  position: absolute;
  left: 0;
  padding: 0px 0.24rem;
  background: #fff;
  padding-bottom: 0.24rem;
}

.showtitleD {
  font-size: 0.28rem;
  padding-top: 0.35rem;
  padding-bottom: 0.7rem;
  line-height: 0.4rem;
}

.show_allD {
  line-height: 0.4rem;
}
.show_allD img {
  max-width: 100%;
  margin-top: 0.24rem;
  margin-bottom: 0.24rem;
}

.content_guideD {
  padding: 0px 0.24rem;
  padding-bottom: 0.24rem;
}

.content_doctD {
  padding: 0px 0.24rem;
  padding-bottom: 0.24rem;
}
.content_doctD .showtitleD {
  color: #7A94BF;
}

.content_docD {
  overflow: hidden;
}
.content_docD li {
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  height: 3rem;
}
.content_docD li a {
  display: block;
}
.content_docD li a img {
  width: 100%;
}
.content_docD li p {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  text-align: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  overflow: hidden;
  padding: 0.08rem 0.24rem;
}
.content_docD li p b {
  display: block;
  line-height: 0.35rem;
  font-size: 0.24rem;
}
.content_docD li p span {
  display: block;
  line-height: 0.28rem;
  color: #9E9F9F;
  font-size: 0.2rem;
}

.content_newD dl {
  height: 1.6rem;
  padding-top: 0.3rem;
}
.content_newD dt {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.24rem;
  float: left;
}
.content_newD dt p {
  width: 1.3rem;
  height: 1.3rem;
  background: #9E9F9F;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 0.4rem;
}
.content_newD dt p span {
  display: block;
  font-size: 0.25rem;
}
.content_newD dd {
  height: 1.3rem;
  width: 4.62rem;
  border-bottom: 1px solid #DBDCDC;
  padding-bottom: 0.3rem;
  float: right;
  overflow: hidden;
}
.content_newD dd p {
  position: relative;
  height: 1.3rem;
}
.content_newD dd b {
  height: 1.3rem;
  width: 4.32rem;
  vertical-align: middle;
  display: table-cell;
}
.content_newD dd i {
  position: absolute;
  top: 50%;
  right: 0.24rem;
  margin-top: -3px;
}

.new_imgD img {
  width: 100%;
}

.content_cancerD dl {
  height: 0.8rem;
  padding-top: 0.2rem;
}
.content_cancerD dt {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.24rem;
  float: left;
}
.content_cancerD dt i {
  background-image: url("/static/images/mobile/icon_case.png");
  background-size: 19.47rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: #9E9F9F;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  display: block;
}
.content_cancerD dt i.icon_brain_tumor {
  background-position: 0 0;
}
.content_cancerD dt i.icon_thyroid_carcinoma {
  background-position: -1rem 0;
}
.content_cancerD dt i.icon_lung_cancer {
  background-position: -2rem 0;
}
.content_cancerD dt i.icon_gastric_cancer {
  background-position: -3rem 0;
}
.content_cancerD dt i.icon_pancreatic_cancer {
  background-position: -4rem 0;
}
.content_cancerD dt i.icon_colorectal_cancer {
  background-position: -5rem 0;
}
.content_cancerD dt i.icon_uterine_cancer {
  background-position: -6rem 0;
}
.content_cancerD dt i.icon_prostatic_cancer {
  background-position: -7rem 0;
}
.content_cancerD dt i.icon_bone_cancer {
  background-position: -8rem 0;
}
.content_cancerD dt i.icon_leukemia {
  background-position: -9rem 0;
}
.content_cancerD dt i.icon_esophagus_cancer {
  background-position: -10rem 0;
}
.content_cancerD dt i.icon_mammary_cancer {
  background-position: -11rem 0;
}
.content_cancerD dt i.icon_nephropathy {
  background-position: -12rem 0;
}
.content_cancerD dt i.icon_ovarian_cancer {
  background-position: -13rem 0;
}
.content_cancerD dt i.icon_skin_cancer {
  background-position: -14rem 0;
}
.content_cancerD dt i.icon_metastatic_cancer {
  background-position: -15rem 0;
}
.content_cancerD dt i.icon_nasopharyngeal_carcinoma {
  background-position: -16rem 0;
}
.content_cancerD dt i.icon_heart_transplant {
  background-position: -17rem 0;
}
.content_cancerD dt i.icon_liver_cancer {
  background-position: -18rem 0;
}
.content_cancerD dt i.icon_bladder_cancer {
  background-position: -19rem 0;
}
.content_cancerD dd {
  height: 0.5rem;
  width: 5.42rem;
  border-bottom: 1px solid #DBDCDC;
  padding-bottom: 0.2rem;
  float: right;
  overflow: hidden;
}
.content_cancerD dd p {
  position: relative;
  height: 0.5rem;
}
.content_cancerD dd b {
  height: 0.5rem;
  vertical-align: middle;
  display: table-cell;
}
.content_cancerD dd i {
  position: absolute;
  top: 50%;
  right: 0.24rem;
  margin-top: -3px;
}

html {
  font-size: 50px;
  color: #595757;
}

body {
  max-width: 780px;
  margin: 0 auto;
}

/*# sourceMappingURL=mobile.css.map */
