$base-color:#00B1B5;
$font1:#595757;
$font2:#9E9F9F;
$font3:#B4B4B5;
$font4:#DBDCDC;

@mixin absolute($top:0,$left:0){
	position:absolute;
	top:$top;
	left:$left;
}

%display-flex{
	display:-webkit-box;
	display:-webkit-flex;
	display: -ms-flexbox;
	display:flex;
}
%flex-align-center{
	-webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
%flex-align-right{
	-webkit-box-pack: right;
    -moz-box-pack: right;
    -ms-flex-align: right;
    -webkit-align-items: right;
    -moz-align-items: right;
    align-items: right;
}
@mixin flex($count:1){
	-webkit-box-flex: $count;
    -webkit-flex: $count;
    -ms-flex: $count;
    flex: $count;
}
@mixin filter($mohu:0) {	
    -webkit-filter: blur($mohu); 
    -moz-filter: blur($mohu);
    -ms-filter: blur($mohu);    
    filter: blur($mohu);
}
@mixin border-radius($bormun:0){
	border-radius: $bormun; 
	-moz-border-radius: $bormun; 
	-webkit-border-radius: $bormun; 
}
