@import 'base';
body{
	background:#f7f7f7;
}
a{text-decoration:none;}
.doctor_schedulingD{
	font-size: 0.2rem; 
	color:#595757; 
	margin: 0 auto;
	}
.scheduling_topD{
	width: 6.4rem; 
	height: 2.3rem; 
	position: relative;
	}
.scheduling_timgD{
	width: 6.4rem; 
	height: 2.3rem; 
	@include absolute;
	z-index: 0;
	@include filter;
	}
.doctor_aboutD{
	@include absolute(0.41rem,0.25rem);
	z-index: 2;
	dt{
		width:1.35rem;
		height:1.35rem;
		border:0.07rem solid #fff; 
		@include absolute;
	}
	img{
		width: 100%;
		height: 100%;
	}
	dd{
		width: 2.5rem;
		@include absolute(0,1.75rem);
	}
	h6{
		font-size: 0.26rem;
		color: $font1;
		text-align: left;
		line-height: 0.8rem;
	}
	p{
		font-size: 0.23rem;
		color: $font1;
		line-height: 0.3rem;
		text-align: left;
	}
	
}
.doctor_collectD{
	@include absolute(0.77rem,5.52rem);
	z-index: 4;
	text-align:center;
	
	p{
		color:$font1;
		line-height: 0.45rem;
		font-size: 0.2rem; 
	}

}
.scheduling_timeD{
	position:relative;
	width:6.4rem;

}
.scheduling_titleD{
	background:#fff;
	width:100%;
	height:0.6rem;
	overflow: hidden;
	line-height:0.6rem;
	position: relative;
	ul{

	}
	li{ width:50%; 
		float:left;
		text-align: center;
		font-size:0.25rem;
		display: block;
		height: 0.57rem;
		border-bottom:3px solid #fff;
		color:$font2; 
		cursor: pointer;
		&.on{
			border-bottom-color:$base-color;
			color:$font1;
		}
	}
	i{
		
		@include absolute(0.2rem,3.2rem);
		background:$font4;
	}

}

#wrapper {
	@include absolute(0.6rem,0);
	z-index: 1;
	width: 6.4rem;
	height:5.7rem;
	overflow: hidden;

}

#scroller{
	@include absolute(0,0);
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 12.80rem;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scheduling_jtdayD{
	width:6.4rem;
	ul{
		padding-left: 0.24rem;
		overflow: hidden;
		background:#fff;
	}
	li{
		height: 0.73rem;
		background:#fff;
		border-bottom:0.01rem solid $font4;
		line-height: 0.73rem;
		font-size: 0.25rem;
		padding-right: 0.24rem;
		
	}
	.scheduling_dataD{
		height: 0.76rem;
		line-height: 0.73rem;
		margin-bottom:0.15rem;
		margin-top:0.15rem;	
		font-size: 0.23rem;
		background:#fff;
		padding-left: 0.24rem;
		padding-right: 0.24rem;

	}
	.scheduling_dataD i{
			
		margin-right:0.1rem;
	}
	.scheduling_dataD p{
		color:$base-color; 
	}

	b{
		width: 3rem;
		float:left;
		color:$font1;
		text-align:left;
	}
	p{
		width: 2rem;
		text-align:right;
		float:right;
		color:$font2;
	}
	p.on{ padding-right:0.3rem;}
	span{
		display: inline-block;
		color: #ff375a;
		width: 0.78rem;
		height: 0.34rem;
		border:0.01rem solid #ff375a;
		@include border-radius(0.2rem);
		vertical-align: middle;
		font-size: 0.2rem;
		line-height: 0.36rem;
		text-align: center;
		margin-right:0.15rem;
		
	}
	i{
		vertical-align: middle;
	}
}
.doctor_jtaboutD{ 
	padding-left: 0.24rem;
	line-height:0.34rem;
	background:#fff;
	font-size:0.2rem;
	margin-top:0.15rem;
	width:6.16rem;
	@include absolute(0rem,6.4rem);

}
.doctor_goodD{
	border-bottom:0.01rem solid $font4;
	padding-top:0.15rem;
	padding-bottom:0.15rem;
	margin-bottom:0.15rem;
	padding-right: 0.24rem;
}
.doctor_profilesD{
	padding-bottom:0.15rem;
	padding-right: 0.24rem;
}
