@import 'base';
body{
	background:#f7f7f7;
	color:$font1;
}
a{text-decoration:none;}
.doctor_schedulingD{
	font-size: 0.2rem; 
	color:#595757; 
	margin: 0 auto;
	}
.scheduling_topD{
	width: 6.4rem; 
	height: 2.3rem; 
	position: relative;
	}
.scheduling_timgD{
	width: 6.4rem;
	height: 2.3rem; 
	@include absolute;
	z-index: 0;
	@include filter;
	}
.doctor_aboutD{
	@include absolute(0.41rem,0.25rem);
	z-index: 2;
	dt{
		width:1.35rem;
		height:1.35rem;
		border:0.07rem solid #fff; 
		@include absolute;
	}
	img{
		width: 100%;
		height: 100%;
	}
	dd{
		width: 3rem;
		@include absolute(0,1.75rem);
	}
	h6{
		font-size: 0.26rem;
		color: $font1;
		text-align: left;
		line-height: 0.8rem;
	}
	p{
		font-size: 0.23rem;
		color: $font1;
		line-height: 0.3rem;
		text-align: left;
			
	}
	.keshiD{
		height: 0.3rem;
		overflow: hidden;
		/*white-space: nowrap;
		text-overflow: ellipsis;*/
	}
	.zhicD{
		height: 0.6rem;
		overflow : hidden;
    	text-overflow: ellipsis;
    	display: -webkit-box;
   		 -webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
	}
}
.doctor_collectD{
	@include absolute(0.77rem,5.52rem);
	z-index: 4;
	text-align:center;
	width: 0.9rem;
	p{
		color:$font1;
		line-height: 0.45rem;
		font-size: 0.2rem; 
	}

}
.scheduling_timeD{

	width:6.4rem;

}
.scheduling_titleD{
	background:#fff;
	width:100%;
	height:0.6rem;
	overflow: hidden;
	line-height:0.6rem;
	position: relative;
	ul{

	}
	li{ width:33.3%; 
		float:left;
		text-align: center;
		font-size:0.25rem;
		display: block;
		height: 0.56rem;
		border-bottom:2px solid #fff;
		color:$font2; 
		cursor: pointer;
		&.on{
			border-bottom-color:$base-color;
			color:$font1;
		}
	}
	i{
		
		@include absolute(0.2rem,2.15rem);
		background:$font4;
		width: 1px;
		height: 0.24rem;
	}
	b{
		
		@include absolute(0.2rem,4.23rem);
		background:$font4;
		width: 1px;
		height: 0.24rem;
	}
}

#wrapper {
	// @include absolute(0.6rem,0);
	// z-index: 1;
	// width: 6.4rem;
	// height:5.7rem;
	// overflow: hidden;
    position: absolute;
    left: 0;
    top: 2.9rem;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#scroller{
	width: 6.4*3rem;
}
#noscroller{
	width: 6.4*2rem;
}
.scheduling_jtdayD{
	@include absolute(0,0);
	width:6.4rem;
	a{
			display: block;
			overflow: hidden;
    		width: 100%;
		}
	ul{
		padding-left: 0.24rem;
		overflow: hidden;
		background:#fff;
	}
	li{
		height: 0.73rem;
		background:#fff;
		border-bottom:1px solid $font4;
		line-height: 0.73rem;
		font-size: 0.25rem;
		padding-right: 0.24rem;
		
	}
	li:last-child{
		border-bottom:0px;
	}
	.scheduling_dataD{
		height: 0.76rem;
		line-height: 0.76rem;
		margin-bottom:0.15rem;
		margin-top:0.15rem;	
		font-size: 0.23rem;
		background:#fff;
		padding-left: 0.24rem;
		padding-right: 0.24rem;

	}
	
	.scheduling_dataD b{
		color:$base-color; 
		position:relative;
		padding-left:0.4rem;
	}
	.scheduling_dataD p{
		color:$base-color; 
		position:relative;
	}
	.scheduling_dataD b i{	
		@include absolute(50%,0);
		margin-top:-7px;
	}
	.scheduling_dataD p i{
		@include absolute(50%,0.65rem);
		margin-top:-7.5px;

	}

	b{
		width: 3rem;
		float:left;
		color:$font1;
		text-align:left;
	}
	p{
		width: 2rem;
		text-align:right;
		float:right;
		color:$font2;
	}
	p.on{ 
		//padding-right:0.3rem;
	}
	span{
		display: inline-block;
		color: $red;
		width: 0.78rem;
		height: 0.34rem;
		border:1px solid $red;
		@include border-radius(0.2rem);
		vertical-align: middle;
		font-size: 0.2rem;
		line-height: 0.36rem;
		text-align: center;
		margin-right:0.15rem;
		
	}
	i{
		vertical-align: middle;
	}
}
.paiban_jtdayD{
	//padding-left: 0.24rem;
	line-height:0.34rem;
	background:#fff;
	font-size:0.2rem;
	width:6.4rem;
	@include absolute(0rem,6.4rem);
	margin-top: 0.15rem;
	.paiban_titD{
		
		font-size:0.26rem;
		padding:0.24rem;
		@extend %display-flex;
		span{
			text-align: center;
			@include flex;
			display: block;
			color: $font2;
		}

	}
	ul{
		padding-bottom:0.24rem;
	}
	li{
		
		padding:0 0.24rem;
		@extend %display-flex;
		@extend %flex-align-center;
		a{
			text-align: center;
			@include flex;
			display: block;
			color: $font2;
			//width: 18px;
    		height: 19px;
		}

	}
	li.other{
		height: 31px;
		position:relative;
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
		.amD{
			@include absolute(0,0);
			width: 40px;
			height:15px;

		}
		.pmD{
			position:absolute;
			right: 0;
			bottom:0;
			width: 40px;
			height:15px;

		}
		i{
			@include absolute(0,0);
			z-index: 1;
		}
		b{ 
			text-align:center;
			line-height: 15px;
			@include absolute(0,0);
			width: 40px;
			z-index:5;
			font-size: 12px;
			color: #fff;
		}
		span{
			width: 100%;
			height: 1px;
			@include absolute(15px,0);
			background:$base-color;
		}
	}
	.telD{
		background:#f7f7f7;
		p{
			height: 0.8rem;
			line-height: 0.8rem;
			font-size: 0.23rem;
			color: $font2;
			text-align: center;
		}
		a{
			display: block;
			width: 2.6rem;
			height: 0.5rem;
			//line-height: 0.5rem;
			margin: 0 auto;
			position:relative;
			background:#595757;
			color: #fff;
			//padding-left:0.24rem;
			font-size: 0.23rem;
			@include border-radius(0.06rem);
			text-align: center;
			i{
				//@include absolute(50%,0.24rem);
				margin-top: -6px;	
				margin-right: 0.1rem;
				position:relative;
				vertical-align:top;
				top: 50%;
				

			}
			span{
				line-height: 0.5rem;
				display: inline-block;
			}
		}
	}
}

.doctor_jtaboutD{ 
	padding-left: 0.24rem;
	line-height:0.34rem;
	background:#fff;
	font-size:0.2rem;
	width:6.16rem;
	@include absolute(0rem,6.4rem*2);
	margin-top: 0.15rem;
}
.doctor_goodD{
	border-bottom:1px solid $font4;
	padding-top:0.15rem;
	padding-bottom:0.15rem;
	margin-bottom:0.15rem;
	padding-right: 0.24rem;
}
.doctor_profilesD{
	padding-bottom:0.15rem;
	padding-right: 0.24rem;
}
//no
.noscheduling_titleD {
	li{
	width:50%;
	}
	i{
		left: 50%;
	}
}
.nopaiban_jtdayD{
	@include absolute(0,0);
}
.nodoctor_jtaboutD{
	@include absolute(0,6.4rem);
}

//one
.onescheduling_titleD {
	li{
	width:100%;
	}
	
}
.onedoctor_jtaboutD{
	position:relative;
	top:0px;
	left:0px;
}

.no_payD{
	text-align:center;
	i{
	margin-top:1.1rem;
	}
	p{
		font-size: 0.23rem;
		margin-top: 0.5rem;

	}
}
.choose_patientD{
	
}
.promptD{
	position:relative;
	height:0.32rem;
	line-height:0.32rem;
	padding-left:0.55rem;
	font-size:0.2rem;
	color:$font2;

	i{
		@include absolute(50%,0.24rem);
			margin-top:-5px;
	}
}
.patientD{
	li{
		height: 0.84rem;
		font-size: 0.25rem;
		line-height: 0.42rem;
		position:relative;
		background:#fff;
		border-bottom:1px solid $font4;
		padding-left:0.24rem;
		padding-top:0.08rem;

	}
	li:last-child{
		border-bottom:0px;
	}
	a{
		display: block;
	}
	i{
		position:absolute;
		top: 0.44rem;
		right: 0.24rem;
	}
}
.chooseD{
	margin-top:0.15rem;
	height:0.76rem;
	line-height:0.76rem;
	background:#fff;
	font-size:0.23rem;
	color:$font2;
	padding-left:0.24rem;
	overflow:hidden;
	position:relative;
	b{
		height:0.76rem;
		@include absolute(0,0.24rem);
		width:2.02rem;
		padding-left:0.48rem;
		i{
			@include absolute(50%,0);
			margin-top:-9px;
		}
	}
	p{
		width:2.4rem;
		position:absolute;
		top: 0px;
		right: 0.24rem;
		text-align:right;
		i{
	 	vertical-align: middle;
	 	margin-left:0.1rem;
	 	}
	}
	

}
.Pend_payD{
	li{
		font-size: 0.25rem;
		background:#fff;
		border-bottom:1px solid $font4;
		position:relative;
		padding-left:0.24rem;

	}
	li:last-child{
		border-bottom:0px;
	}
	a{
		display: block;
	}
	dl{
		position:relative;
		min-height: 1rem;

		dt{
			@include absolute(50%,0);
			width: 40px;
			height: 40px;
			margin-top: -20px;	
			
			i{
				@include absolute(50%,0);
				margin-top: -15px;	
			}
			b{
				display: block;
				border-radius:50%;
				border:1px solid $red;
				width: 40px;
				height: 40px;
				text-align:center;
				line-height: 40px;
				font-size: 12px;
				color: $red;
				
			}
			
		}
		dd{
			width:3rem;
			position:relative;
			top: 0;
			padding-left:1rem;
			color:$font2; 
			font-size: 0.23rem;
			padding-top:0.15rem;
			padding-bottom:0.15rem;
			line-height: 0.26rem;
			h6{
				color:$font1; 
				font-size: 0.25rem;
				margin-bottom: 0.15rem
			}
			h5{
				color:$font1; 
				line-height: 0.31rem;
				font-size: 0.25rem;
				width: 4rem;
			}
			span{
				padding-right:0.15rem;

			}

		}
	}
	.ready dt b{
		border-color:#22ab38;
		color: #22ab38;
	}
	.notready dt b{
		border-color:#ff375a;
		color: #ff375a;
	}
	.cancelready dt b{
		border-color:#f6c500;
		color: #f6c500;
	}
	p{
		position:absolute;
		top: 50%;
		right: 0.24rem;
		width:1.9rem;
		text-align:right;
		line-height: 1rem;
		color: $red;
		font-size: 0.23rem;
		display: table;
    	height: 1rem;
    	margin-top: -0.5rem;
		i{
	 	vertical-align: middle;
	 	margin-left:0.1rem;
	 	}
	 	span{
	 		color: $font2;
	 		display: table-cell;
    		vertical-align: middle;
    		line-height: 0.25rem;
	 	}
	}
}
.report_detailsD{}
.rtitle_detailsD{
	text-align:center;
	font-size:0.23rem;
	background:#00B1B5;
	height:0.76rem;
	line-height:0.76rem;
	color:#fff;
}
.rdata_detailsD{
	padding-left:0.24rem;
	font-size:0.23rem;
	height:0.73rem;
	line-height:0.73rem;
}
.rlist-detailsD{
	background:#fff;
}
.report_dtitleD{
	height:0.73rem; 
	line-height:0.73rem;
	font-size:0.25rem;
	padding:0 0.24rem;
	@extend %display-flex;
	span{
		text-align: center;
		@include flex;
		display: block;
	}

}
.report_dlistD li{
	font-size:0.2rem;
	padding: 0.15rem 0.24rem;
	@extend %display-flex;
	border-top:1px solid $font4;
	color:$font2;
	@extend %flex-align-center;
	span{
		text-align: center;
		@include flex;
		line-height: .26rem;
		display: block;
	}
}
.rdata_imageD{
	display:block;
	img{
		padding:0 1.5%;
		width: 97%;
	}
}
.lookover{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0 0.24rem;
	margin-top:0.24rem;
	height:0.7rem;
	a{
		display: block;
		background:$base-color;
		line-height: 0.7rem;
		font-size: 0.26rem;
		color: #fff;
		text-align: center;
	}
}
.own_roomD{
	font-size:0.24rem;
}
.own_aboutD{
	height:1rem;
	background:#00B1B5;
	position:relative;
	a{ display:block; height:1rem;}
	.own_leftD{
		
		@include absolute(0,0);
		height: 1rem;
		i{
			@include absolute(50%,0.24rem);
			margin-top: -15px;
			right: auto;
			
		}
		p{
			height: 1rem;
		    vertical-align: middle;
		    display:table-cell;
			color: #fff;
			font-size: 0.25rem;
			padding-left:1rem;
			
		}
	}
	i{
		position:absolute;
		right: 0.24rem;
		top: 50%;
		margin-top:-3px;
	}
	

}
.own_moneyD{
	position:relative;
	padding:0 0.24rem;
	color:$font2;
	height:0.6rem;
	line-height:0.6rem;
	text-align:center;
	background:#fff;
	p{
		width:50%;
		float:left;
	}
	a{
		display: block;
		color:$font2;
	}
	i{
		width: 1px;
		height: 0.24rem;
		position:absolute;
		left: 50%;
		top: 0.18rem;
		background:$font4;
	}
}
.own_listD{
	margin-top:0.15rem;
	padding-left:0.24rem;
	background:#fff;

	li{
		height: 0.73rem;
		background:#fff;
		border-bottom:1px solid $font4;
		line-height: 0.73rem;
		font-size: 0.25rem;
		padding-right: 0.24rem;
		position:relative;
		padding-left:0.75rem;
		span{
			i{
				position:absolute;
			    right: 0.24rem;
			    top: 50%;
			    left: auto;
		        margin-top: -3px;	
			}
		}
		
	}
	li:last-child{
		border-bottom:0px;
	}
	i{
		@include absolute(50%,0);
		margin-top: -13px;	
	}
	a{ 
		display:block;
	}

}
.gezx_shcD{
		height: 0.73rem;
		background:#fff;
		line-height: 0.73rem;
		font-size: 0.25rem;
		padding-right: 0.24rem;
		position:relative;
		padding-left:0.99rem;
		margin-top: 0.15rem;
		span{
			i{
				position:absolute;
			    right: 0.24rem;
			    top: 50%;
			    left: auto;
		        margin-top: -3px;	
			}
		}
		i{
		@include absolute(50%,0.24rem);
		margin-top: -13px;	
		}
		a{ 
		display:block;
		}
	}
.logoD{
	
	position:fixed;
	left:0px;
	bottom:0px;
	text-align:center;
	width:100%;
	padding-bottom:0.24rem;
	i{
		display: block;
		margin:0 auto;
	}
}