@import 'base';
.pt03{
	padding-top:0.3rem;
}
//-----------------------------------keshi--------------------start
#keshi_searchG{
	padding:0.2rem 0.25rem;
	background-color: #F7F7F7;
	position: relative;
    z-index: 10;
	.keshi_searchBoxG{
		position: relative;
		height: 0.5rem;
		font-size: 0.2rem;
		color: $font2;
		border:1px solid $font2;
		border-radius: 4px;
		text-indent: 0.1rem;
		#searchG{
			text-indent: 0.05rem;
			font-size: 0.2rem;
			line-height: 0.40rem;
			height: 100%;
			width: 4.5rem;
	    	border: 0;
	    	background: #F7F7F7;
	    	padding: 0;
	    }
		.fandaG{
			position:absolute;
			top: 50%;
			right: 0.2rem;
			margin-top: -7px;
		}
		span{
			display: none;
			float: right;
			line-height: 0.50rem;
			margin-right: 0.1rem;
		}
	}
	.active i{
		display: none;
	}
	.active span{
		display: inline-block;
	}
}

#keshi_typeG{
	padding:0 0.25rem;
	font-size: 0.26rem;
	width: 1.75rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	@include absolute(0.9rem,0);
	bottom: 0;
	z-index: 1;
	border-right: 1px solid $font4;
	overflow: hidden;
	ul{

		li{
			display: table;
			height: 1.1rem;
			width: 1.25rem;
			border-bottom: 1px solid $font4;
			text-align: center;
			position: relative;
			p{
				display: table-cell;
				vertical-align: middle;
				line-height: 0.30rem;
				color: $font2;
			}
			.icon{
				@include absolute(50%,-4px);
				margin-top: -3px;
				display: none;
			}
		}
		.active>.icon{
			display: block;
		}
		.active>p{
			color: $font1;
		}
	}
}

#keshi_listG{
	font-size: 0.26rem;
	width: 4.65rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	position: absolute;
	right: 0;
	top: 0.9rem;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	.listG_ul{
		.listG_li{
			height: 0.9rem;
			width: 4.65rem;
			overflow: hidden;
			.listG_icon{
				float: left;
				width: 1rem;
				height: 0.9rem;
				position: relative;
				.icon_weibinke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -13px;
				}
				.icon_zhongliuke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -13px;
				}
				.icon_shenbinke{
					@include absolute(50%,50%);
					margin-top: -12px;
					margin-left: -13px;
				}
				.icon_feibinke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -13px;
				}
				.icon_neifenmike{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -9px;
				}
				.icon_naobinke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -14px;
				}
				.icon_xinbinke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -12px;
				}
				.icon_shenzhibinke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -12px;
				}
				.icon_tezhenshi{
					@include absolute(50%,50%);
					margin-top: -12px;
					margin-left: -14px;
				}
				.icon_fuke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -13px;
				}
				.icon_canke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -11px;
				}
				.icon_erke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -15px;
				}
				.icon_erbaoke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -10px;
				}
				.icon_mazuike{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -13px;
				}
				.icon_naowaike{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -11px;
				}
				.icon_kouqiangke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -13px;
				}
				.icon_erbihouke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -13px;
				}
				.icon_miniaoke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -13px;
				}
				.icon_gangchangke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -13px;
				}
				.icon_xiongwaike{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -14px;
				}
				.icon_yanke{
					@include absolute(50%,50%);
					margin-top: -8px;
					margin-left: -15px;
				}
				.icon_puwaike{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -14px;
				}
				.icon_gushangke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -10px;
				}
				.icon_pifuke{
					@include absolute(50%,50%);
					margin-top: -15px;
					margin-left: -14px;
				}
				.icon_tijianke{
					@include absolute(50%,50%);
					margin-top: -12px;
					margin-left: -14px;
				}
				.icon_ziranyixue{
					@include absolute(50%,50%);
					margin-top: -10px;
					margin-left: -15px;
				}
				.icon_sanyangke{
					@include absolute(50%,50%);
					margin-top: -10px;
					margin-left: -15px;
				}
				.icon_ziweibinke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -9px;
				}
				.icon_zhenjiuke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -12px;
				}
				.icon_yingyangke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -12px;
				}
				.icon_tuinake{
					@include absolute(50%,50%);
					margin-top: -12px;
					margin-left: -14px;
				}
				.icon_reliaoke{
					@include absolute(50%,50%);
					margin-top: -12px;
					margin-left: -14px;
				}
				.icon_kanfuke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -11px;
				}
				.icon_jizhenke{
					@include absolute(50%,50%);
					margin-top: -12px;
					margin-left: -13px;
				}
				.icon_ICU{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -14px;
				}
				.icon_yingxiangke{
					@include absolute(50%,50%);
					margin-top: -13px;
					margin-left: -12px;
				}
				.icon_chaoshenke{
					@include absolute(50%,50%);
					margin-top: -11px;
					margin-left: -14px;
				}
				.icon_jianchake{
					@include absolute(50%,50%);
					margin-top: -9px;
					margin-left: -14px;
				}
				.icon_jianyanke{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -12px;
				}
				.icon_xibao{
					@include absolute(50%,50%);
					margin-top: -14px;
					margin-left: -14px;
				}

			}
			.listG_font{
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				float: right;
				width: 3.65rem;
				border-bottom: 1px solid $font4;
				position: relative;
				.fontJJ{
					position: absolute;
					top: 50%;
					right: 10px;
					margin-top: -6px;
				}
				p{
					line-height: 0.85rem;
				}
			}
		}
	}
}
#doctorListG{
	display: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0.9rem 0.25rem 0;
	@include absolute(0,0);
	z-index: 9;
	background: #fff;
	overflow: scroll;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	opacity: 0;
	transform: translate(0,50px);
	-webkit-transform: translate(0,50px);
	a{
		display: block;
		text-indent: 0.45rem;
		text-decoration: none;
		width: 100%;
		font-size: 0.25rem;
		height: 0.80rem;
		line-height: 0.80rem;
		color: $font2;
		border-bottom: 1px solid $font4;
		position: relative;
		i{
			@include absolute(50%,0);
			margin-top: -7px;
		}
	}
	p{
		text-align: center;
    	font-size: 0.25rem;
    	line-height: 0.7rem;
	}
}
//-----------------------------------keshi----------------------end


//-----------------------------------paiban--------------------start
.paiban_timeTitleG{
	padding: 0 0.25rem;
	height: 0.8rem;
	overflow: hidden;
	background: #fff;
	position: relative;
	z-index: 3;
	.paiban_timeL{
		font-size: 0.23rem;
		display: block;
		line-height: 0.8rem;
		width: 2rem;
		float: left;
		position: relative;
		i{
			@include absolute(50%,0);
			margin-top: -7px;
		}
		p{
			display: inline;
			padding-left: 18px;
		}
	}
	.paiban_timeR{
		font-size: 0.23rem;
		display: block;
		line-height: 0.8rem;
		width: 2rem;
		float: right;
		position: relative;
		text-align: right;
		i{
			position: absolute;
			top: 50%;
			margin-top: -8px;
		}
		p{
			display: inline;
			padding-left: 18px;
			
		}
	}
}
#paiban_table{
	padding: 0.05rem 0.25rem 0;
	@extend %display-flex;
	border-bottom: 1px solid $font4;
	background: #fff;
	position: relative;
	z-index: 3;
	span{
		display: block;
		font-size: 0.25rem;
		@include flex(1);
		text-align: center;
		border-bottom: 2px solid #fff;
		i{
			display: inline-block;
			width: 0.55rem;
			height: 0.55rem;
			border-radius: 50%;
			background: #fff;
			line-height: 0.55rem;
		}
		em{
			display: inline-block;
			width: 0.55rem;
			height: 0.55rem;
			line-height: 0.55rem;
		}
	}
	.active{
		border-bottom: 2px solid $base-color;
	}
	.active i{
		background: $base-color;
		color: #fff;
	}
	.active em{
		color: $base-color;
	}
}
#paiban_doctor{
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 2.1rem;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    .paiban_scroller{
    	width: 44.8rem;
		.paiban_Wamp{
			.paiban_slide{
		    	width: 6.4rem;
			    top: 0;
			    position: absolute;
			    bottom: 0;
			    z-index: 1;
		    }
		   	.paiban_slide1{left:0;}
		    .paiban_slide2{left:6.4rem;}
		    .paiban_slide3{left:6.4*2rem}
		    .paiban_slide4{left:6.4*3rem}
		    .paiban_slide5{left:6.4*4rem}
		    .paiban_slide6{left:6.4*5rem}
		    .paiban_slide7{left:6.4*6rem}
		}

    }
	.paiban_item{
		padding-left: .25rem;
		height: 1.6rem;
		@extend %display-flex;
		position: relative;
		background: #fff;
		img{
			display: inline-block;
			height: 1.36rem;
    		margin-top: 0.12rem;
		}
		.paiban_info{
			display: inline-block;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding: 0.12rem 0;
			margin-left: 0.2rem;
			@include flex(1);
			border-bottom: 1px solid $font4;
			h3{
				font-size: 0.26rem;
				line-height: 0.4rem;
			}
			h4{
				font-size: 0.23rem;
				margin-bottom: 0.15rem;
				color: $font2;
				width: 3.2rem;
			    line-height: 0.25rem;
			    height: 0.25rem;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			p{
				height: 0.6rem;
				line-height: 0.32rem;
				font-size: 0.2rem;
				width: 3.2rem;
				overflow: hidden;
				color: $font2;
			}
		}
		.paiban_less{
			width: 0.8rem;
			height: 0.35rem;
			line-height: 0.35rem;
			font-size: 0.22rem;
			border-radius: 0.35rem;
			color: $base-color;
			border:1px solid $base-color;
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -0.17rem;
			right: 0.40rem;
		}
		.icon{
			position: absolute;
			right: 0.1rem;
			top: 50%;
			margin-top: -4px;
		}
	}
}

//-----------------------------------paiban----------------------end




//-----------------------------------confirm--------------------start
.conf-doctor{
	background: #fff;
	ul{
		padding-left: 0.25rem;
		li{
			position: relative;
			font-size: 0.25rem;
			overflow: hidden;
			height: 0.75rem;
			line-height: 0.75rem;
			padding-right: 0.25rem;
			border-bottom: 1px solid $font4;
			span{
				float: left;
			}
			em{
				float: right;
			}
		}
		li:last-child{
			border-bottom: 0;
		}
	}
}
.conf-price{
	background: #fff;
	margin-top: 0.15rem;
	div{
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		font-size: 0.25rem;
		overflow: hidden;
		height: 0.75rem;
		line-height: 0.75rem;
		span{
			float: left;
		}
		em{
			float: right;
		}
	}
}
.conf-you{
	.conf-youtit{
		padding-left: 0.25rem;
		height: 0.75rem;
		line-height: 0.75rem;
		font-size: 0.23rem;
		overflow: hidden;
		height: 0.75rem;
		position: relative;
		.icon{
			position: absolute;
			top: 50%;
			margin-top: -11px;
		}
		.icon_rmbposition{
			margin-top: -9px;
		}
		span{
			padding-left: 0.50rem;
		}
		em{
			color: $font2;
			font-size: 0.2rem;
			margin-left: 0.2rem;
		}
	}
}
.conf-selname{
	 background: #fff;
	 ul{
	 	padding-left: 0.25rem;
	 	li{
	 		height: 1rem;
	 		font-size: 0.23rem;
	 		overflow: hidden;
	 		border-bottom: 1px solid $font4;
	 		position: relative;
	 		.conf-sel1{
	 			display: block;
	 			margin: 0.19rem 0;
	 		}
	 		.conf-sel2{
	 			display: block;
	 		}
	 		.icon{
	 			display: none;
				position: absolute;
				right: 0.25rem;
				top: 50%;
				margin-top: -7px;
	 		}
	 	}
	 	.acitve i{
	 		display: block;
	 	}
	 	li:last-child{
			border-bottom: 0;
		}
	 }
}
.conf-add{
	display:block;
	background: #fff;
	margin-top: 0.15rem;
	.conf-addline{
		padding-left: 0.25rem;
		height: 0.75rem;
		line-height: 0.75rem;
		overflow: hidden;
		position: relative;
		span{
			font-size: 0.23rem;
			color: $font2;
			float: left;
			padding-left: 0.5rem;
		}
		em{
			font-size: 0.23rem;
			color: $font2;
			float: right;
			padding-right: 0.5rem;
		}
		.conf-iconL{
			position: absolute;
			left: 0.25rem;
			top: 50%;
			margin-top: -9px;
		}
		.conf-iconR{
			position: absolute;
			right: 0.25rem;
			top: 50%;
			margin-top: -6px;
		}
	}
}
.conf-pay{
	background: #fff;
	ul{
		padding-left: 0.25rem;
		li{
			height: 0.75rem;
			line-height: 0.75rem;
			font-size: 0.25rem;
			overflow: hidden;
			position: relative;
			border-bottom: 1px solid $font4;
			span{
				float: left;
			}
			em{
				float: left;
				color: $font2;
			}
			.icon{
				position: absolute;
				right: 0.25rem;
				top: 50%;
				margin-top: -8px;
			}
			.icon_select{
				display: none;
			}
		}
		.acitve .icon_select{
			display: block;
		}
		.acitve .icon_noselect{
			display: none;
		}
		li:last-child{
			border-bottom: 0;
		}
	}
}
.conf-submit{
	padding: 0 0.25rem;
	margin-top: 0.5rem;
	margin-bottom: 0.8rem;
	span{
		display: block;
		height: 0.6rem;
		background: $base-color;
		color: #fff;
		font-size: 0.26rem;
		line-height: 0.6rem;
		text-align: center;
	}
}
#conf_charge{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	.conf_charge_plane{
		position:relative;
		padding-top:0.7rem;
		padding-bottom:0.3rem;
		width: 5.6rem;
		margin: 3rem auto 0;
		background:#fff;
		border-radius:5px;
		p{
			font-size: 0.26rem;
			line-height: 0.30rem;
			text-align: center;
		}
		a{
			display: block;
			width: 4.8rem;
			height: 0.6rem;
			line-height: 0.6rem;
			color: #fff;
			margin: 0.5rem auto 0;
			font-size: 0.26rem;
			text-align: center;
			border-radius:5px;
			background:$base-color;
		}
		.icon{
			position:absolute;
			top: 0.15rem;
			right: 0.15rem;
		}
	}
}
//-----------------------------------confirm----------------------end

//-----------------------------------finish----------------------end
.fin-top{
	background: #fff;
	height: 2rem;
	position: relative;
	.icon{
		position: absolute;
		top: 50%;
		margin-top: -25px;
		left: 0.25rem;
	}
	.fin-info{
		padding-left: 1.45rem;
		padding-right: 0.25rem;
		div{
			overflow: hidden;
			span{
				float: left;
				font-size: 0.25rem;
				line-height: 0.8rem;
			}
			em{
				float: right;
				font-size: 0.23rem;
				line-height: 0.8rem;
			}
		}
		p{
			font-size: 0.20rem;
			line-height: 0.28rem;
		}
	}
}
.fin-margin{
	margin-top: 0.15rem;
}


//-----------------------------------finish----------------------end

//-----------------------------------finishpay--------------------start
.finpay-top{
	background: #fff;
	height: 2rem;
	position: relative;
	.icon{
		position: absolute;
		top: 50%;
		margin-top: -25px;
		left: 0.25rem;
	}
	.finpay-info{
		padding-left: 1.45rem;
		padding-right: 0.25rem;
		div{
			overflow: hidden;
			span{
				float: left;
				font-size: 0.25rem;
				margin-top: 0.7rem;
    			margin-bottom: 0.2rem;
			}
			em{
				float: right;
				font-size: 0.23rem;
				margin-top: 0.7rem;
    			margin-bottom: 0.2rem;
			}
		}
		p{
			font-size: 0.20rem;
			line-height: 0.28rem;
		}
	}
}
.finpay-list{
	background:#fff;
	margin-top:0.15rem;
	.finpay-listtit{
		padding: 0 0.25rem;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		height: 0.75rem;
		border-bottom: 1px solid $font4;
		font-size: 0.25rem;
		@extend %display-flex;
		span{
			display: block;
			@include flex(1);
			font-size: 0.25rem;
			line-height: 0.75rem;
			text-align: center;
		}
	}
	.finpay-listbody{
		box-sizing:border-box;
		padding-left: 0.25rem;
		margin-bottom: 0.5rem;
		li{
			border-bottom: 1px solid $font4;
			padding: 0.15rem 0.25rem 0.15rem 0;
			box-sizing: border-box;
			width: 100%;
			display: table;
			span{
				width: 25%;
				font-size: 0.2rem;
				color: $font2;
				line-height: 0.23rem;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
		}
		li:last-child{
			border-bottom: 0;
		}
	}
}



//-----------------------------------finish----------------------end

//-----------------------------------pay--------------------start
.pay-price{
	background: #fff;
	height: .75rem;
	line-height: 0.75rem;
	text-align: center;
	color: $red;
	font-size: 0.27rem;
}
.pay-type{
	background: #fff;
	margin-top: 0.15rem;
	padding: 0 0.25rem;
	height: 0.75rem;
	line-height: 0.75rem;
	overflow: hidden;
	font-size: 0.25rem;
	span{
		float: left;
	}
	em{
		float: right;
		color: $font2;
	}
}




//-----------------------------------pay----------------------end


//-----------------------------------payinfo--------------------start
.payinfo-name{
	background: #fff;
	padding: 0 0.25rem;
	font-size: 0.25rem;
	height: 1rem;
	i{
		line-height: 1rem;
		float: left;
	}
	span{
		line-height: 0.6rem;
	}
	span,em{
		display: block;
		text-align: right;
	}
}
.payinfo-margin{
	margin-bottom: 1rem;
}
.payinfo-button{
	width: 100%;
	height: 0.75rem;
	position:  fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	box-sizing:border-box;
	padding: 0.15rem 0.25rem;
	overflow: hidden;
	em{
		float: left;
		line-height: 0.45rem;
		font-size: 0.23rem;
		i{
			color: $red;
		}
	}
	span{
		display: block;
		float: right;
		width: 2rem;
		height: 0.45rem;
		line-height: 0.45rem;
		background: $base-color;
		text-align: center;
		color: #fff;
		font-size: 0.26rem;
	}
}
//-----------------------------------payinfo----------------------end


//-----------------------------------daiyuyue--------------------start
.Pend_payD dl dd .daijiancha{
	line-height: 1rem;
	margin: 0;
}
//-----------------------------------daiyuyue----------------------end

//-----------------------------------jianchainfo----------------------start
.jiancha_body{
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	background: #F7F7F7;
}
#jiancha_plane{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	opacity:0;
	transform: translate(0,60px);
	-webkit-transform: translate(0,60px);
	z-index:-1;
	#jiancha_confirm{
		position: absolute;
		bottom:0;
		left: 0;
		box-sizing:border-box;
		width: 100%;
		height: 1rem;
		padding: 0.15rem 0.25rem;
		span{
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 0.7rem;
			background: $base-color;
			color: #fff;
			font-size: 0.25rem;
		}
	}
}
#jiancha_plane.active{
	z-index:1;
	opacity:1;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
#jiancha_list{
	background:#fff;
    position: absolute;
    left: 0;
    top: 1.95rem;
    bottom: 1rem;
    width: 100%;
    overflow: hidden;
	.jiancha_scroller{
		width: 44.8rem;
		.jiancha_wamp{
			width: 6.4rem;
		    top: 0;
		    position: absolute;
		    bottom: 0.5rem;
		    z-index: 1;
			.jiancha_scroll{
				padding-left: 0.25rem;
				box-sizing:border-box;
				width: 6.4rem;
				li{
					height: 0.75rem;
					font-size: 0.25rem;
					border-bottom:1px solid $font4;
					line-height: 0.75rem;
					position: relative;
					div{
						width: .8rem;
					    height: .35rem;
					    line-height: .35rem;
					    font-size: .22rem;
					    border-radius: .35rem;
					    color: $base-color;
					    border: 1px solid $base-color;
					    text-align: center;
					    position: absolute;
					    top: 50%;
					    margin-top: -.17rem;
					    right: .6rem;
					}
					em{
						width: .8rem;
					    height: .35rem;
					    line-height: .35rem;
					    font-size: .22rem;
					    color: $font2;
					    text-align: center;
					    position: absolute;
					    top: 50%;
					    margin-top: -.17rem;
					    right: .6rem;
					}
					.icon{
						display: none;
						position: absolute;
						right: 0.13rem;
						top: 50%;
						margin-top: -8px;
					}
				}
				li:last-child{
					border-bottom: 0;
				}
				.active .icon{
					display: inline-block;
				}
			}
		}
		.jiancha_scroll1{left:6.4rem*0}
		.jiancha_scroll2{left:6.4rem*1}
		.jiancha_scroll3{left:6.4rem*2}
		.jiancha_scroll4{left:6.4rem*3}
		.jiancha_scroll5{left:6.4rem*4}
		.jiancha_scroll6{left:6.4rem*5}
		.jiancha_scroll7{left:6.4rem*6}
	}
}
#jcChoice{
	position: absolute;
    right: .25rem;
    top: 50%;
    margin-top: -6px;
}
.jiancha_finish{
	display: block;
	position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 1rem;
    padding: .15rem .25rem;
    span{
    	display: block;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    line-height: .7rem;
	    background: #00B1B5;
	    color: #fff;
	    font-size: .25rem;
    }
}
//-----------------------------------jianchainfo----------------------end


//-----------------------------------card----------------------start
.cardBotton{
	padding:0 0.12rem;
	margin-top:0.25rem;
	@extend %display-flex;
	span{
		box-sizing:box-sizing;
		padding:0 0.12rem;
		height: 0.60rem;
		line-height: 0.60rem;
		font-size: 0.26rem;
		text-align: center;
		@include flex(1);
		a{
			display: block;
			color: #fff;
			background:$base-color;
		}
		.active{
			background: $font2;
		}
	}
}


//-----------------------------------card----------------------end

//-----------------------------------bindcard----------------------start
.bindcard{
	padding:0 0.25rem;
	.bindform{
		span{
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
			padding: 0.15rem 0 0.15rem 30px;
			display: block;
			width: 100%;
			margin-top: 0.15rem;
			background: #fff;
			font-size: 0.25rem;
			height: 0.75rem;
			position: relative;
			input{
				display: block;
    			height: 0.45rem;
				width: 4rem;
				border:none;
				outline:medium;
				background: rgba(0,0,0,0);
				text-indent: 0.10rem;
				line-height: 0.25rem;
			}
			.icon{
				position:absolute;
				top: 50%;
			}
			.icon_card_person{
				left: 0.15rem;
				margin-top: -9px;
			}
			.icon_card_info{
				left: 0.15rem;
				margin-top: -7px;
			}
			.icon_card_phone{
				left: 0.20rem;
				margin-top: -11px;
			}
			.icon_card_cd{
				left: 0.15rem;
				margin-top: -8px;
			}
		}
	}
	.bindtips{
		padding-left:14px;
		position:relative;
		margin-top: 0.05rem;
		p{
			font-size: 0.2rem;
			color: $font2;
			line-height: 0.28rem;
		}
		.icon{
			position:absolute;
			top: 0.05rem;
			left: 0;
		}
	}
	.bindconfirm{
		height: 0.65rem;
		font-size: 0.26rem;
		text-align: center;
		background: $base-color;
		margin-top: 0.25rem;
		a{
			line-height: 0.65rem;
			font-size: 0.26rem;
			color: #fff;
		}
	}
}
#bindhint{
	position:absolute;
	top:1.5rem;
	opacity:0;
	width:100%;
	text-align:center;
	font-size:0.23rem;
	color:#fff;
	margin-top:0.15rem;
	span{
		background:rgba(0,0,0,0.5);
		display: inline-block;
		padding:0.15rem 0.25rem;
		border-radius:6px;
	}
}


//-----------------------------------bindcard----------------------end


//-----------------------------------recharge----------------------start
.charge_name{
	background:#fff;
	height:1rem;
	padding:0 0.25rem;
	span{
		font-size: 0.26rem;
		line-height: 0.5rem;
		float: left;
	}
	em{
		font-size: 0.26rem;
		text-align: right;
		line-height: 1rem;
		float: right;
	}
}
.charge_plane{
	padding:0 0.12rem;
	h5{
		font-size: 0.23rem;
		padding-left: 0.12rem;
		margin:0.25rem 0;
		color: $font3;
	}
}
#charge_money{
	overflow:hidden;
	span{
		box-sizing:border-box;
		padding:0 0.12rem;
		margin-bottom: 0.25rem;
		width: 33.33%;
		float: left;
		height: 0.9rem;
		p{
			background:#fff;
			display: block;
			border-radius:5px;
			border:1px solid $font4;
			line-height: 0.9rem;
			font-size: 0.26rem;
			text-align: center;
		}
	}
	.active p{
		border:1px solid $base-color;
		color: $base-color;
	}
	.charge_other{
		width: 100%;
		float: left;
		height: 0.6rem;
		box-sizing:border-box;
		padding:0 0.12rem;
		input{
			width: 100%;
			box-sizing:border-box;
			background:#fff;
			height: 0.6rem;
			padding: 0;
			line-height: 0.6rem;
			text-align: center;
			color: $font2;
			font-size: 0.26rem;
			border-radius: 5px;
			border:1px solid $font4;
			display: block;
			 -webkit-appearance: none;
		}
	}
}
#charge_pay{
	padding:0.24rem;
	margin-top: 0.9rem;
	position:relative;
	a{
		display: block;
		height: 0.6rem;
		line-height: 0.6rem;
		text-align: center;
		background: $base-color;
		color: #fff;
		font-size: 0.25rem;
	}
}
#loading {
	display:none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}
.loading-panel {
    width: 30px;
    height: 30px;
    position: absolute;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-panel .point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  width: 4px;
  height: 50%;
  transform-origin: 2px 0;
  transform: rotate(0deg);
  background-color: none;
}
.loading-panel .point .inner {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  top: 70%;
  left: 0;
  border-radius: 2px;
}
.loading-panel .point:nth-child(10n+1) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
}
.loading-panel .point:nth-child(10n+2) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
}
.loading-panel .point:nth-child(10n+3) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
}
.loading-panel .point:nth-child(10n+4) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
}
.loading-panel .point:nth-child(10n+5) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
}
.loading-panel .point:nth-child(10n+6) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
}
.loading-panel .point:nth-child(10n+7) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
}
.loading-panel .point:nth-child(10n+8) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
}
.loading-panel .point:nth-child(10n+9) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
}
.loading-panel .point:nth-child(10n) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
}
//-----------------------------------recharge----------------------end


//-----------------------------------grcard----------------------start
.grcard_list{
	a{
		display: block;
		background:#fff;
		height: 1rem;
		padding-left:0.24rem;
		font-size: 0.25rem;
		line-height: 0.5rem;
		margin-bottom: 0.15rem;
		position: relative;
		.icon{
			position: absolute;
		    right: .25rem;
		    top: 50%;
		    margin-top: -4px;
		}
		span{
			color: $red;
			display: block;
			text-align: center;
			font-size: 0.24rem;
			width: 0.85rem;
			height: 0.36rem;
			line-height: 0.36rem;
			border:1px solid $red;
			border-radius:0.36rem;
			position: absolute;
		    right: .55rem;
		    top: 50%;
		    margin-top: -0.18rem;
		}
	}
}
.collect_item{
	@extend %display-flex;
	padding-left: .25rem;
    height: 1.6rem;
    position: relative;
    background: #fff;
    img{
	    display: inline-block;
	    height: 1.36rem;
	    margin-top: .12rem;
    }
    .collect_info{
    	display: inline-block;
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    padding: .12rem 0;
	    margin-left: .2rem;
		@include flex(1);
	    border-bottom: 1px solid #DBDCDC;
	    font-size: 0.24rem;
	    h3{
	    	display: inline-block;
	    	font-size: .26rem;
		    line-height: .4rem;
	    }
	    h4{
	    	display: inline-block;
	    	margin-top:0.02rem;
	    	font-size: .24rem;
		    color: #9E9F9F;
		    width: 3.2rem;
		    line-height: .25rem;
		    height: .25rem;
	    }
	    span{
	    	width: 3.2rem;
	    	display: block;
			font-size: .24rem;
			color: $font2;
			margin:0.05rem 0;
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
	    }
	    p{
	    	height: .6rem;
		    line-height: .32rem;
		    font-size: .2rem;
		    width: 3.2rem;
		    overflow: hidden;
		    color: #9E9F9F;
	    }
    }
    .icon{
	    position: absolute;
	    right: .1rem;
	    top: 50%;
	    margin-top: -4px;
	}
}
.collect_item:last-child .collect_info{
	border-bottom:0;
}

//-----------------------------------grcard----------------------end