.icon{
    display: inline-block;
    zoom:1;
	background-repeat : no-repeat;
}

@mixin background($w:24px,$h:24px,$b:"../slice/icon-1-01.png"){
	background-image:url($b);
	width:$w;
	height:$h;
}

.icon_fanda{
	@include background(15px,16px,"../slice/icon-fanda.png");
}
.icon_jj{
	@include background(6px,11px,"../slice/jj.png");
}
.icon_sanjiao{
	@include background(3px,6px,"../slice/sanjiao.png");
}
.icon_data{
	@include background(15px,15px,"../slice/data.png");
}
.icon_time{
	@include background(15px,15px,"../slice/time.png");
}
.icon_person{
	@include background(18px,20px,"../slice/icon-person.png");
}
.icon_choice{
	@include background(22px,16px,"../slice/icon-choice.png");
}
.icon_person2{
	@include background(20px,18px,"../slice/icon-person2.png");
}
.icon_greenjj{
	@include background(6px,11px,"../slice/icon-greenjj.png");
}
.icon_rmb{
	@include background(20px,20px,"../slice/icon-rmb.png");
}
.icon_select{
	@include background(16px,16px,"../slice/icon-select.png");
}
.icon_noselect{
	@include background(17px,16px,"../slice/icon-noselect.png");
}
.icon_finish{
	@include background(50px,50px,"../slice/icon-finish.png");
}

.icon_collect_bigD{
	@include background(24px,22px,"../slice/icon-collect_bigD.png");
}

.icon_collect_bigonD{
	@include background(24px,22px,"../slice/icon_collect_bigonD.png");
}
.icon_time_bigD{
	@include background(14px,14px,"../slice/icon_time_bigD.png");
}
.icon_data_bigD{
	@include background(15px,15px,"../slice/icon_data_bigD.png");
}

.icon_next_bigD{
	@include background(6px,11px,"../slice/icon_next_bigD.png");
}
.icon_no_payD{
	@include background(116px,116px,"../slice/icon_no_payD.png");
}
.icon_jiaofei{
	@include background(32px,32px,"../slice/icon_jiaofei.png");
}
.icon_yuyue{
	@include background(30px,30px,"../slice/icon-yuyue.png");
}
.icon_clock{
	@include background(18px,18px,"../slice/icon-clock.png");
}
.icon_tishi{
	@include background(10px,10px,"../slice/icon_tishi.png");
}
.icon_fabu{
	@include background(32px,32px,"../slice/icon_fabu.png");
}
.icon_nolist{
	@include background(116px,116px,"../slice/icon_nolist.png");
}
.icon_register_record{
	@include background(26px,26px,"../slice/icon_register_record.png");
}
.icon_pay_record{
	@include background(26px,26px,"../slice/icon_pay_record.png");
}
.icon_appointment_record{
	@include background(26px,26px,"../slice/icon_appointment_record.png");
}
.icon_examine_report{
	@include background(26px,26px,"../slice/icon_examine_report.png");
}
.icon_hospital_record{
	@include background(26px,26px,"../slice/icon_hospital_record.png");
}
.icon_collection_record{
	@include background(26px,26px,"../slice/icon_collection_record.png");
}
.icon_logo{
	@include background(80px,24px,"../slice/icon_logo.png");
}

.icon_card_cd{
	@include background(18px,16px,"../slice/icon-card-cd.png");
}
.icon_card_phone{
	@include background(12px,22px,"../slice/icon-card-phone.png");
}
.icon_card_info{
	@include background(18px,14px,"../slice/icon-card-info.png");
}
.icon_card_person{
	@include background(16px,18px,"../slice/icon-card-person.png");
}

.icon_weibinke{
	@include background(27px,27px,"../slice/weibinke.png");
}
.icon_zhongliuke{
	@include background(27px,27px,"../slice/zhongliuke.png");
}
.icon_shenbinke{
	@include background(25px,27px,"../slice/shenbinke.png");
}
.icon_feibinke{
	@include background(26px,27px,"../slice/feibinke.png");
}
.icon_neifenmike{
	@include background(19px,28px,"../slice/neifenmike.png");
}
.icon_naobinke{
	@include background(28px,26px,"../slice/naobinke.png");
}
.icon_xinbinke{
	@include background(25px,27px,"../slice/xinbinke.png");
}
.icon_shenzhibinke{
	@include background(25px,27px,"../slice/shenzhibinke.png");
}
.icon_tezhenshi{
	@include background(29px,25px,"../slice/tezhenshi.png");
}
.icon_fuke{
	@include background(27px,27px,"../slice/fuke.png");
}
.icon_canke{
	@include background(23px,27px,"../slice/canke.png");
}
.icon_erke{
	@include background(31px,26px,"../slice/erke.png");
}
.icon_erbaoke{
	@include background(20px,29px,"../slice/erbaoke.png");
}
.icon_mazuike{
	@include background(26px,26px,"../slice/mazuike.png");
}
.icon_naowaike{
	@include background(23px,27px,"../slice/naowaike.png");
}
.icon_kouqiangke{
	@include background(27px,28px,"../slice/kouqiangke.png");
}
.icon_erbihouke{
	@include background(26px,29px,"../slice/erbihouke.png");
}
.icon_miniaoke{
	@include background(27px,27px,"../slice/miniaoke.png");
}
.icon_gangchangke{
	@include background(27px,29px,"../slice/gangchangke.png");
}
.icon_xiongwaike{
	@include background(29px,25px,"../slice/xiongwaike.png");
}
.icon_yanke{
	@include background(30px,17px,"../slice/yanke.png");
}
.icon_puwaike{
	@include background(29px,28px,"../slice/puwaike.png");
}
.icon_gushangke{
	@include background(20px,29px,"../slice/gushangke.png");
}
.icon_pifuke{
	@include background(29px,25px,"../slice/pifuke.png");
}
.icon_tijianke{
	@include background(29px,25px,"../slice/tijianke.png");
}
.icon_ziranyixue{
	@include background(30px,20px,"../slice/ziranyixue.png");
}
.icon_sanyangke{
	@include background(30px,20px,"../slice/sanyangke.png");
}
.icon_ziweibinke{
	@include background(19px,28px,"../slice/ziweibinke.png");
}
.icon_zhenjiuke{
	@include background(25px,29px,"../slice/zhenjiuke.png");
}
.icon_yingyangke{
	@include background(25px,28px,"../slice/yingyangke.png");
}
.icon_tuinake{
	@include background(29px,25px,"../slice/tuinake.png");
}
.icon_reliaoke{
	@include background(29px,25px,"../slice/reliaoke.png");
}
.icon_kanfuke{
	@include background(23px,28px,"../slice/kanfuke.png");
}
.icon_jizhenke{
	@include background(27px,25px,"../slice/jizhenke.png");
}
.icon_ICU{
	@include background(28px,28px,"../slice/ICU.png");
}
.icon_yingxiangke{
	@include background(24px,27px,"../slice/yingxiangk.png");
}
.icon_chaoshenke{
	@include background(29px,23px,"../slice/chaoshenke.png");
}
.icon_jianchake{
	@include background(29px,19px,"../slice/jianchake.png");
}
.icon_jianyanke{
	@include background(25px,29px,"../slice/jianyanke.png");
}
.icon_xibao{
	@include background(28px,29px,"../slice/xibao.png");
}
.icon_cancle{
	@include background(19px,19px,"../slice/icon_cancle.png");
}
.icon_yishen{
	@include background(16px,19px,"../slice/icon_yishen.png");
}
.icon_amD{
	@include background(40px,15px,"../slice/icon_amD.png");
}
.icon_pmD{
	@include background(40px,15px,"../slice/icon_pmD.png");
}
.ico_tel{
	@include background(17px,12px,"../slice/ico_tel.png");
}
