@charset "UTF-8";
@import 'base';
@import 'dlq';
@import 'reset.css';
@import 'page.css';
html{
    font-size: 50px;
}
body{
    max-width: 1280px;
}


.itemlist{
    position: relative;
    padding: 0 0.03rem;
    li{
        width: 50%;
        box-sizing:border-box;
        padding: 0 0.03rem;
        margin-bottom: 0.06rem;
        float: left;
        text-align: left;
        a{
            box-sizing:border-box;
            padding: 0.05rem;
            display: block;
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            background: #ccc;
            font-size: 0.15rem;
        }
    }
}